In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
import warnings
import scipy.stats as stats

warnings.filterwarnings("ignore")
sns.set_style('darkgrid')
%matplotlib inline

In [2]:
# set the max rows and columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 500)

## Loading the dataframe and analyse the columns

In [3]:
loan = pd.read_csv("data/loan/loan.csv")

In [4]:
loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,NaN,NaN,3,0,13648,83.70%,9,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0,Apr-99,5,NaN,NaN,3,0,1687,9.40%,4,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,NaN,NaN,2,0,2956,98.50%,10,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0,Feb-96,1,35.0,NaN,10,0,5598,21%,37,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,NaN,Apr-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0,Jan-96,0,38.0,NaN,15,0,27783,53.90%,38,f,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,Jun-16,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [5]:
loan.shape

(39717, 111)

In [6]:
loan.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,3.971700e+04,3.971700e+04,39717.000000,39717.000000,39717.000000,39717.000000,3.971700e+04,39717.000000,39717.000000,39717.000000,14035.000000,2786.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39661.0,0.0,39717.0,0.0,0.0,0.0,39717.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39661.0,39717.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39020.000000,39678.0,0.0,0.0,0.0,0.0
mean,6.831319e+05,8.504636e+05,11219.443815,10947.713196,10397.448868,324.561922,6.896893e+04,13.315130,0.146512,0.869200,35.900962,69.698134,9.294408,0.055065,13382.528086,22.088828,51.227887,50.989768,12153.596544,11567.149118,9793.348813,2263.663172,1.363015,95.221624,12.406112,2678.826162,0.0,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.043260,0.0,NaN,NaN,NaN,NaN
std,2.106941e+05,2.656783e+05,7456.670694,7187.238670,7128.450439,208.874874,6.379377e+04,6.678594,0.491812,1.070219,22.020060,43.822529,4.400282,0.237200,15885.016641,11.401709,375.172839,373.824457,9042.040766,8942.672613,7065.522127,2608.111964,7.289979,688.744771,148.671593,4447.136012,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.204324,0.0,NaN,NaN,NaN,NaN
min,5.473400e+04,7.069900e+04,500.000000,500.000000,0.000000,15.690000,4.000000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
25%,5.162210e+05,6.667800e+05,5500.000000,5400.000000,5000.000000,167.020000,4.040400e+04,8.170000,0.000000,0.000000,18.000000,22.000000,6.000000,0.000000,3703.000000,13.000000,0.000000,0.000000,5576.930000,5112.310000,4600.000000,662.180000,0.000000,0.000000,0.000000,218.680000,0.0,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
50%,6.656650e+05,8.508120e+05,10000.000000,9600.000000,8975.000000,280.220000,5.900000e+04,13.400000,0.000000,1.000000,34.000000,90.000000,9.000000,0.000000,8850.000000,20.000000,0.000000,0.000000,9899.640319,9287.150000,8000.000000,1348.910000,0.000000,0.000000,0.000000,546.140000,0.0,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
75%,8.377550e+05,1.047339e+06,15000.000000,15000.000000,14400.000000,430.780000,8.230000e+04,18.600000,0.000000,1.000000,52.000000,104.000000,12.000000,0.000000,17058.000000,29.000000,0.000000,0.000000,16534.433040,15798.810000,13653.260000,2833.400000,0.000000,0.000000,0.000000,3293.160000,0.0,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
max,1.077501e+06,1.314167e+06,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,11.000000,8.000000,120.000000,129.000000,44.000000,4.000000,149588.000000,90.000000,6311.470000,6307.370000,58563.679930,58563.680000,35000.020000,23563.680000,180.200000,29623.350000,7002.190000,36115.200000,0.0,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,0.0,NaN,NaN,NaN,NaN

# Data Preprocessing

## Analysis for null/na values

In [7]:
tmp = loan.isnull().sum().rename("nulls")
null_counts  = tmp.to_frame()
null_counts

                                nulls
id                                  0
member_id                           0
loan_amnt                           0
funded_amnt                         0
funded_amnt_inv                     0
term                                0
int_rate                            0
installment                         0
grade                               0
sub_grade                           0
emp_title                        2459
emp_length                       1075
home_ownership                      0
annual_inc                          0
verification_status                 0
issue_d                             0
loan_status                         0
pymnt_plan                          0
url                                 0
desc                            12940
purpose                             0
title                              11
zip_code                            0
addr_state                          0
dti                                 0
delinq_2yrs                         0
earliest_cr_line                    0
inq_last_6mths                      0
mths_since_last_delinq          25682
mths_since_last_record          36931
open_acc                            0
pub_rec                             0
revol_bal                           0
revol_util                         50
total_acc                           0
initial_list_status                 0
out_prncp                           0
out_prncp_inv                       0
total_pymnt                         0
total_pymnt_inv                     0
total_rec_prncp                     0
total_rec_int                       0
total_rec_late_fee                  0
recoveries                          0
collection_recovery_fee             0
last_pymnt_d                       71
last_pymnt_amnt                     0
next_pymnt_d                    38577
last_credit_pull_d                  2
collections_12_mths_ex_med         56
mths_since_last_major_derog     39717
policy_code                         0
application_type                    0
annual_inc_joint                39717
dti_joint                       39717
verification_status_joint       39717
acc_now_delinq                      0
tot_coll_amt                    39717
tot_cur_bal                     39717
open_acc_6m                     39717
open_il_6m                      39717
open_il_12m                     39717
open_il_24m                     39717
mths_since_rcnt_il              39717
total_bal_il                    39717
il_util                         39717
open_rv_12m                     39717
open_rv_24m                     39717
max_bal_bc                      39717
all_util                        39717
total_rev_hi_lim                39717
inq_fi                          39717
total_cu_tl                     39717
inq_last_12m                    39717
acc_open_past_24mths            39717
avg_cur_bal                     39717
bc_open_to_buy                  39717
bc_util                         39717
chargeoff_within_12_mths           56
delinq_amnt                         0
mo_sin_old_il_acct              39717
mo_sin_old_rev_tl_op            39717
mo_sin_rcnt_rev_tl_op           39717
mo_sin_rcnt_tl                  39717
mort_acc                        39717
mths_since_recent_bc            39717
mths_since_recent_bc_dlq        39717
mths_since_recent_inq           39717
mths_since_recent_revol_delinq  39717
num_accts_ever_120_pd           39717
num_actv_bc_tl                  39717
num_actv_rev_tl                 39717
num_bc_sats                     39717
num_bc_tl                       39717
num_il_tl                       39717
num_op_rev_tl                   39717
num_rev_accts                   39717
num_rev_tl_bal_gt_0             39717
num_sats                        39717
num_tl_120dpd_2m                39717
num_tl_30dpd                    39717
num_tl_90g_dpd_24m              39717
num_tl_op_past_12m              39717
pct_tl_nvr_dlq                  39717
percent_bc_gt_75                39717
pub_rec_bankruptcies              697
tax_liens                          39
tot_hi_cred_lim                 39717
total_bal_ex_mort               39717
total_bc_limit                  39717
total_il_high_credit_limit      39717

In [8]:
nullsColummns = null_counts[null_counts["nulls"]>0]

In [9]:
print(f'columns with nulls: {nullsColummns.shape}')
print(f'dataframe shape: {loan.shape}')

columns with nulls: (68, 1)
dataframe shape: (39717, 111)

In [10]:
all_null_values = nullsColummns[nullsColummns["nulls"]== 39717].index.to_list()
print(f'before dropping :\n Columns with all values null: {len(all_null_values)},\n Total null cols: {nullsColummns.shape},\n dataframe shape: {loan.shape}\n\n')
loan.drop(columns=all_null_values, inplace=True)
print(f'before dropping :\n Columns with all values null: {len(all_null_values)},\n Total null cols: {nullsColummns.shape},\n dataframe shape: {loan.shape}')

before dropping :
 Columns with all values null: 54,
 Total null cols: (68, 1),
 dataframe shape: (39717, 111)


before dropping :
 Columns with all values null: 54,
 Total null cols: (68, 1),
 dataframe shape: (39717, 57)

In [11]:
some_nulls_columns = nullsColummns[nullsColummns["nulls"]!= 39717].index.to_list()
print("Columns with some values as nulls : ",len(some_nulls_columns))
some_nulls_df =  nullsColummns[nullsColummns["nulls"]!= 39717].sort_values(by="nulls")
some_nulls_df

Columns with some values as nulls :  14

                            nulls
last_credit_pull_d              2
title                          11
tax_liens                      39
revol_util                     50
collections_12_mths_ex_med     56
chargeoff_within_12_mths       56
last_pymnt_d                   71
pub_rec_bankruptcies          697
emp_length                   1075
emp_title                    2459
desc                        12940
mths_since_last_delinq      25682
mths_since_last_record      36931
next_pymnt_d                38577

In [12]:
loan[some_nulls_columns].describe()

,mths_since_last_delinq,mths_since_last_record,collections_12_mths_ex_med,chargeoff_within_12_mths,pub_rec_bankruptcies,tax_liens
count,14035.000000,2786.000000,39661.0,39661.0,39020.000000,39678.0
mean,35.900962,69.698134,0.0,0.0,0.043260,0.0
std,22.020060,43.822529,0.0,0.0,0.204324,0.0
min,0.000000,0.000000,0.0,0.0,0.000000,0.0
25%,18.000000,22.000000,0.0,0.0,0.000000,0.0
50%,34.000000,90.000000,0.0,0.0,0.000000,0.0
75%,52.000000,104.000000,0.0,0.0,0.000000,0.0
max,120.000000,129.000000,0.0,0.0,2.000000,0.0

In [13]:
# checking each of the columns with some missing values
for some_null in some_nulls_columns:
    print("Column : ", some_null + " \n")
    print("Describe : \n",loan[some_null].describe())

    null_count= loan[some_null].isna().sum()

    print("\nnulls count : " ,null_count)
    print("nulls %     : ","{0:.3f}%".format((100*null_count)/loan.shape[0]))
    print("\nValue Counts : \n",loan[some_null].value_counts().sort_values(ascending=False))
    print("_______________\n\n")

Column :  emp_title

Describe :
 count       37258
unique      28820
top       US Army
freq          134
Name: emp_title, dtype: object

nulls count :  2459
nulls %     :  6.191%

Value Counts :
 US Army                     134
Bank of America             109
IBM                          66
AT&T                         59
Kaiser Permanente            56
                           ...
P.M.A.M.                      1
Bailard                       1
American General Finance      1
HKS  Inc.                     1
Evergreen Center              1
Name: emp_title, Length: 28820, dtype: int64
_______________


Column :  emp_length

Describe :
 count         38642
unique           11
top       10+ years
freq           8879
Name: emp_length, dtype: object

nulls count :  1075
nulls %     :  2.707%

Value Counts :
 10+ years    8879
< 1 year     4583
2 years      4388
3 years      4095
4 years      3436
5 years      3282
1 year       3240
6 years      2229
7 years      1773
8 years      1479
9 years      1258
Name: emp_length, dtype: int64
_______________


Column :  desc

Describe :
 count     26777
unique    26527
top
freq        210
Name: desc, dtype: object

nulls count :  12940
nulls %     :  32.581%

Value Counts :
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    210
Debt Consolidation                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   8
Camping Membership                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   6
personal loan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        3
credit card consolidation                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ...
I started baking rolls and breads for family and friends from my home kitchen for parties and special occasions. People loved my baked goodies so much, that they began ordering on a more regular basis. Recently, I have had to turn down some orders because my little dough maker and conventional oven are not enough.   I plan to use the borrowed money to buy an industrial oven and a bigger dough mixer, which would make my job easier. I foresee these additions would double my production, and my business would really take off.      1
This is a loan to help pay for other education loans at higher rates                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 1
Need a loan to remodel my kitchen                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1
Need a loan to make some home improvments                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
I plan to consolidate over $7,000 of debt: a combination of credit cards and student loans.                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
Name: desc, Length: 26527, dtype: int64
_______________


Column :  title

Describe :
 count                  39706
unique                 19615
top       Debt Consolidation
freq                    2184
Name: title, dtype: object

nulls count :  11
nulls %     :  0.028%

Value Counts :
 Debt Consolidation                          2184
Debt Consolidation Loan                     1729
Personal Loan                                659
Consolidation                                517
debt consolidation                           505
                                            ...
PayOffCard                                     1
Payoff/close credit cards & start saving       1
Closed Credit Cards                            1
House Sold- Need $$$ to pay off loan           1
JAL Loan                                       1
Name: title, Length: 19615, dtype: int64
_______________


Column :  mths_since_last_delinq

Describe :
 count    14035.000000
mean        35.900962
std         22.020060
min          0.000000
25%         18.000000
50%         34.000000
75%         52.000000
max        120.000000
Name: mths_since_last_delinq, dtype: float64

nulls count :  25682
nulls %     :  64.662%

Value Counts :
 0.0      443
15.0     252
30.0     247
23.0     247
24.0     241
19.0     238
38.0     237
20.0     233
18.0     231
22.0     231
31.0     229
35.0     227
32.0     226
39.0     224
25.0     223
45.0     222
37.0     217
26.0     217
21.0     216
17.0     214
16.0     214
27.0     212
36.0     210
10.0     208
42.0     208
29.0     207
47.0     206
43.0     201
34.0     201
44.0     200
14.0     198
46.0     197
41.0     197
40.0     197
12.0     195
48.0     194
28.0     193
6.0      192
33.0     188
9.0      182
7.0      176
13.0     171
8.0      168
11.0     166
4.0      153
49.0     152
5.0      151
58.0     148
3.0      145
59.0     143
53.0     143
52.0     137
56.0     134
73.0     131
50.0     131
55.0     129
68.0     128
63.0     127
60.0     126
57.0     125
72.0     124
71.0     122
70.0     119
54.0     115
74.0     114
67.0     113
62.0     113
75.0     112
76.0     112
61.0     110
69.0     108
51.0     107
79.0     103
2.0      101
66.0     101
78.0      99
64.0      97
80.0      93
65.0      92
81.0      91
77.0      88
82.0      54
1.0       30
83.0       5
103.0      2
86.0       2
115.0      1
96.0       1
120.0      1
106.0      1
89.0       1
107.0      1
85.0       1
97.0       1
95.0       1
Name: mths_since_last_delinq, dtype: int64
_______________


Column :  mths_since_last_record

Describe :
 count    2786.000000
mean       69.698134
std        43.822529
min         0.000000
25%        22.000000
50%        90.000000
75%       104.000000
max       129.000000
Name: mths_since_last_record, dtype: float64

nulls count :  36931
nulls %     :  92.985%

Value Counts :
 0.0      670
104.0     61
89.0      60
113.0     59
111.0     57
94.0      55
108.0     55
93.0      54
87.0      54
100.0     53
106.0     53
88.0      53
110.0     53
109.0     52
97.0      51
114.0     51
96.0      51
86.0      51
99.0      50
101.0     50
90.0      49
103.0     49
107.0     48
85.0      47
117.0     47
91.0      44
92.0      44
102.0     43
98.0      42
116.0     41
95.0      40
105.0     40
112.0     39
115.0     37
118.0     36
63.0      15
76.0      15
61.0      14
58.0      13
80.0      12
67.0      11
81.0      11
69.0      11
55.0      11
77.0      10
119.0     10
54.0      10
73.0       9
53.0       9
64.0       9
72.0       9
50.0       9
82.0       8
21.0       8
70.0       8
79.0       7
38.0       7
44.0       7
78.0       7
43.0       7
49.0       7
57.0       7
75.0       6
56.0       6
45.0       6
62.0       6
74.0       6
60.0       6
42.0       6
66.0       6
23.0       6
65.0       6
26.0       6
29.0       6
41.0       6
40.0       6
33.0       6
35.0       5
39.0       5
68.0       5
25.0       5
52.0       5
59.0       5
47.0       5
27.0       4
22.0       4
34.0       4
71.0       4
36.0       4
30.0       4
17.0       3
48.0       3
37.0       3
51.0       3
31.0       3
28.0       2
32.0       2
13.0       2
18.0       2
83.0       2
11.0       2
12.0       1
7.0        1
46.0       1
14.0       1
6.0        1
19.0       1
20.0       1
120.0      1
129.0      1
5.0        1
Name: mths_since_last_record, dtype: int64
_______________


Column :  revol_util

Describe :
 count     39667
unique     1089
top          0%
freq        977
Name: revol_util, dtype: object

nulls count :  50
nulls %     :  0.126%

Value Counts :
 0%        977
0.20%      63
63%        62
40.70%     58
66.70%     58
         ...
33.26%      1
5.34%       1
58.19%      1
33.29%      1
7.28%       1
Name: revol_util, Length: 1089, dtype: int64
_______________


Column :  last_pymnt_d

Describe :
 count      39646
unique       101
top       May-16
freq        1256
Name: last_pymnt_d, dtype: object

nulls count :  71
nulls %     :  0.179%

Value Counts :
 May-16    1256
Mar-13    1026
Dec-14     945
May-13     907
Feb-13     869
Apr-13     851
Mar-12     844
Aug-12     832
Jan-14     832
Aug-14     832
Oct-12     826
Mar-14     824
Jul-14     820
Oct-14     808
Feb-14     792
Jan-13     784
Dec-13     780
Jun-14     778
Jul-13     776
Sep-12     761
Jul-12     741
Nov-12     740
May-12     736
Feb-12     735
Apr-12     734
Aug-13     727
Dec-12     707
Jun-12     702
Sep-14     693
Oct-13     692
Jun-13     691
Sep-13     684
May-14     682
Apr-14     674
Nov-13     671
Nov-14     589
Jan-12     546
Dec-11     544
Mar-11     488
Nov-11     454
Oct-11     453
Sep-11     450
Aug-11     428
Apr-11     420
Jul-11     394
May-11     386
Jun-11     376
Feb-11     337
Jan-15     332
Jan-11     266
Dec-10     253
Jul-15     250
Nov-15     227
Jun-15     220
Apr-16     220
Mar-16     216
Oct-10     216
Aug-15     210
Sep-15     202
Nov-10     195
Jul-10     188
Oct-15     186
Jan-16     183
Mar-15     182
Dec-15     176
Sep-10     176
Feb-16     169
Feb-15     163
Aug-10     151
May-15     147
Mar-10     138
Apr-15     136
Jun-10     116
May-10     116
Apr-10     114
Feb-10     112
Dec-09      93
Jan-10      73
Oct-09      62
Nov-09      59
Aug-09      49
Jul-09      43
Apr-09      43
May-09      41
Jun-09      40
Mar-09      38
Sep-09      37
Feb-09      33
Oct-08      28
Jan-09      21
Jul-08      14
May-08      14
Dec-08      14
Aug-08      13
Sep-08      12
Apr-08      12
Jun-08      10
Nov-08      10
Mar-08       5
Jan-08       4
Feb-08       1
Name: last_pymnt_d, dtype: int64
_______________


Column :  next_pymnt_d

Describe :
 count       1140
unique         2
top       Jun-16
freq        1125
Name: next_pymnt_d, dtype: object

nulls count :  38577
nulls %     :  97.130%

Value Counts :
 Jun-16    1125
Jul-16      15
Name: next_pymnt_d, dtype: int64
_______________


Column :  last_credit_pull_d

Describe :
 count      39715
unique       106
top       May-16
freq       10308
Name: last_credit_pull_d, dtype: object

nulls count :  2
nulls %     :  0.005%

Value Counts :
 May-16    10308
Apr-16     2547
Mar-16     1123
Feb-13      843
Feb-16      736
Jan-16      657
Dec-15      647
Mar-13      577
Mar-14      564
Dec-14      562
Jul-14      555
Sep-14      546
Jul-15      535
Feb-14      531
Nov-15      529
Oct-14      529
Aug-14      522
Jan-14      516
Sep-15      512
Oct-15      502
Nov-14      497
Apr-14      494
Nov-13      473
May-14      473
Jun-14      466
May-13      448
Jan-15      440
Apr-13      425
May-15      423
Dec-13      422
Aug-15      422
Oct-13      416
Nov-12      404
Jul-13      396
Sep-12      391
Sep-13      390
Apr-15      388
Aug-12      377
Jun-15      375
Dec-12      374
Mar-15      371
Aug-13      370
Jun-13      370
Feb-12      368
Feb-15      358
Mar-12      338
Oct-12      332
May-12      324
Apr-12      308
Jun-12      308
Jul-12      297
Jan-12      258
Mar-11      257
Aug-11      254
Dec-11      245
Nov-11      201
May-11      193
Jun-11      165
Sep-11      157
Jul-11      156
Feb-11      151
Oct-11      148
Apr-11      135
Jan-11      129
Dec-10      111
Jul-10      107
Sep-10       97
Nov-10       93
Oct-10       89
Feb-10       69
Apr-10       60
Aug-10       51
May-10       50
Mar-10       48
Dec-09       46
Jun-10       46
Jan-13       34
Oct-09       33
Nov-09       28
Jan-10       27
Aug-09       19
Feb-09       16
Apr-09       15
Aug-07       15
Jan-09       14
Jul-09       13
Jun-09       13
Jun-07       12
Sep-09       11
May-09       10
Mar-09       10
Aug-08        9
Oct-08        9
Dec-08        5
Sep-08        5
Mar-08        4
Feb-08        3
Jan-08        3
Oct-07        3
Dec-07        2
Sep-07        2
May-08        1
Jun-08        1
Jul-08        1
May-07        1
Jul-07        1
Name: last_credit_pull_d, dtype: int64
_______________


Column :  collections_12_mths_ex_med

Describe :
 count    39661.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: collections_12_mths_ex_med, dtype: float64

nulls count :  56
nulls %     :  0.141%

Value Counts :
 0.0    39661
Name: collections_12_mths_ex_med, dtype: int64
_______________


Column :  chargeoff_within_12_mths

Describe :
 count    39661.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: chargeoff_within_12_mths, dtype: float64

nulls count :  56
nulls %     :  0.141%

Value Counts :
 0.0    39661
Name: chargeoff_within_12_mths, dtype: int64
_______________


Column :  pub_rec_bankruptcies

Describe :
 count    39020.000000
mean         0.043260
std          0.204324
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          2.000000
Name: pub_rec_bankruptcies, dtype: float64

nulls count :  697
nulls %     :  1.755%

Value Counts :
 0.0    37339
1.0     1674
2.0        7
Name: pub_rec_bankruptcies, dtype: int64
_______________


Column :  tax_liens

Describe :
 count    39678.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: tax_liens, dtype: float64

nulls count :  39
nulls %     :  0.098%

Value Counts :
 0.0    39678
Name: tax_liens, dtype: int64
_______________

In [14]:
some_nulls_df.sort_values(by="nulls", ascending=False, inplace=True)
some_nulls_df

                            nulls
next_pymnt_d                38577
mths_since_last_record      36931
mths_since_last_delinq      25682
desc                        12940
emp_title                    2459
emp_length                   1075
pub_rec_bankruptcies          697
last_pymnt_d                   71
collections_12_mths_ex_med     56
chargeoff_within_12_mths       56
revol_util                     50
tax_liens                      39
title                          11
last_credit_pull_d              2

## Analysis for variance of values

In [15]:
# Analysing missing values in depth
colLengths = []
sampleValues = []
types = []
missing = []
missingCount = []

for column in loan.columns:
    colLengths.append(len(loan[column].value_counts()))
    sampleValues.append(loan[column].value_counts().index[0])
    types.append(type(loan[column].value_counts().index[0]))
    missingCount_ = loan[column].isna().sum()
    missingCount.append(missingCount_)
    missing.append(missingCount_ *100 / loan.shape[0])

data = {"column": loan.columns, "uniqueValues": colLengths,"sample_value":sampleValues,"type":types,"missingCount":missingCount,"missing Percentage":missing}

columnMetadata = pd.DataFrame(data)
columnMetadata.sort_values(by="uniqueValues", inplace=True)
columnMetadata

,column,uniqueValues,sample_value,type,missingCount,missing Percentage
56,tax_liens,1,0.0,<class 'numpy.float64'>,39,0.098195
54,delinq_amnt,1,0,<class 'numpy.int64'>,0,0.000000
53,chargeoff_within_12_mths,1,0.0,<class 'numpy.float64'>,56,0.140998
52,acc_now_delinq,1,0,<class 'numpy.int64'>,0,0.000000
51,application_type,1,INDIVIDUAL,<class 'str'>,0,0.000000
50,policy_code,1,1,<class 'numpy.int64'>,0,0.000000
49,collections_12_mths_ex_med,1,0.0,<class 'numpy.float64'>,56,0.140998
17,pymnt_plan,1,n,<class 'str'>,0,0.000000
35,initial_list_status,1,f,<class 'str'>,0,0.000000
5,term,2,36 months,<class 'str'>,0,0.000000
47,next_pymnt_d,2,Jun-16,<class 'str'>,38577,97.129693
55,pub_rec_bankruptcies,3,0.0,<class 'numpy.float64'>,697,1.754916
16,loan_status,3,Fully Paid,<class 'str'>,0,0.000000
14,verification_status,3,Not Verified,<class 'str'>,0,0.000000
31,pub_rec,5,0,<class 'numpy.int64'>,0,0.000000
12,home_ownership,5,RENT,<class 'str'>,0,0.000000
8,grade,7,B,<class 'str'>,0,0.000000
27,inq_last_6mths,9,0,<class 'numpy.int64'>,0,0.000000
11,emp_length,11,10+ years,<class 'str'>,1075,2.706650
25,delinq_2yrs,11,0,<class 'numpy.int64'>,0,0.000000
20,purpose,14,debt_consolidation,<class 'str'>,0,0.000000
9,sub_grade,35,B3,<class 'str'>,0,0.000000
30,open_acc,40,7,<class 'numpy.int64'>,0,0.000000
23,addr_state,50,CA,<class 'str'>,0,0.000000
15,issue_d,55,Dec-11,<class 'str'>,0,0.000000
34,total_acc,82,16,<class 'numpy.int64'>,0,0.000000
28,mths_since_last_delinq,95,0.0,<class 'numpy.float64'>,25682,64.662487
45,last_pymnt_d,101,May-16,<class 'str'>,71,0.178765
48,last_credit_pull_d,106,May-16,<class 'str'>,2,0.005036
29,mths_since_last_record,111,0.0,<class 'numpy.float64'>,36931,92.985372
6,int_rate,371,10.99%,<class 'str'>,0,0.000000
26,earliest_cr_line,526,Nov-98,<class 'str'>,0,0.000000
22,zip_code,823,100xx,<class 'str'>,0,0.000000
2,loan_amnt,885,10000,<class 'numpy.int64'>,0,0.000000
3,funded_amnt,1041,10000,<class 'numpy.int64'>,0,0.000000
33,revol_util,1089,0%,<class 'str'>,50,0.125891
36,out_prncp,1137,0.0,<class 'numpy.float64'>,0,0.000000
37,out_prncp_inv,1138,0.0,<class 'numpy.float64'>,0,0.000000
42,total_rec_late_fee,1356,0.0,<class 'numpy.float64'>,0,0.000000
44,collection_recovery_fee,2616,0.0,<class 'numpy.float64'>,0,0.000000
24,dti,2868,0.0,<class 'numpy.float64'>,0,0.000000
43,recoveries,4040,0.0,<class 'numpy.float64'>,0,0.000000
13,annual_inc,5318,60000.0,<class 'numpy.float64'>,0,0.000000
40,total_rec_prncp,7976,10000.0,<class 'numpy.float64'>,0,0.000000
4,funded_amnt_inv,8205,5000.0,<class 'numpy.float64'>,0,0.000000
7,installment,15383,311.11,<class 'numpy.float64'>,0,0.000000
21,title,19615,Debt Consolidation,<class 'str'>,11,0.027696
32,revol_bal,21711,0,<class 'numpy.int64'>,0,0.000000
19,desc,26527,,<class 'str'>,12940,32.580507
10,emp_title,28820,US Army,<class 'str'>,2459,6.191303
46,last_pymnt_amnt,34930,0.0,<class 'numpy.float64'>,0,0.000000
41,total_rec_int,35148,0.0,<class 'numpy.float64'>,0,0.000000
39,total_pymnt_inv,37518,0.0,<class 'numpy.float64'>,0,0.000000
38,total_pymnt,37850,11196.56943,<class 'numpy.float64'>,0,0.000000
18,url,39717,https://lendingclub.com/browse/loanDetail.acti...,<class 'str'>,0,0.000000
1,member_id,39717,1296599,<class 'numpy.int64'>,0,0.000000
0,id,39717,1077501,<class 'numpy.int64'>,0,0.000000

## Attributes ignorable based on data and stats

In [16]:
# Dropping columns that have only one unique value or with missing values >= 90%
columnsCanBeIgnored = columnMetadata[ (columnMetadata['uniqueValues']==1) |  (columnMetadata['missing Percentage'] >= 90)] 
columnsCanBeIgnored

,column,uniqueValues,sample_value,type,missingCount,missing Percentage
56,tax_liens,1,0.0,<class 'numpy.float64'>,39,0.098195
54,delinq_amnt,1,0,<class 'numpy.int64'>,0,0.000000
53,chargeoff_within_12_mths,1,0.0,<class 'numpy.float64'>,56,0.140998
52,acc_now_delinq,1,0,<class 'numpy.int64'>,0,0.000000
51,application_type,1,INDIVIDUAL,<class 'str'>,0,0.000000
50,policy_code,1,1,<class 'numpy.int64'>,0,0.000000
49,collections_12_mths_ex_med,1,0.0,<class 'numpy.float64'>,56,0.140998
17,pymnt_plan,1,n,<class 'str'>,0,0.000000
35,initial_list_status,1,f,<class 'str'>,0,0.000000
47,next_pymnt_d,2,Jun-16,<class 'str'>,38577,97.129693
29,mths_since_last_record,111,0.0,<class 'numpy.float64'>,36931,92.985372

In [17]:
loan.drop(columns=columnsCanBeIgnored['column'], inplace=True)

## Attributes that still having missing values

In [18]:
stillMissing = loan.isna().sum().rename("missing").to_frame()
colList = stillMissing[stillMissing['missing']>0].index.to_list()
stillMissing = columnMetadata[columnMetadata['column'].isin(colList)]
stillMissing

,column,uniqueValues,sample_value,type,missingCount,missing Percentage
55,pub_rec_bankruptcies,3,0.0,<class 'numpy.float64'>,697,1.754916
11,emp_length,11,10+ years,<class 'str'>,1075,2.706650
28,mths_since_last_delinq,95,0.0,<class 'numpy.float64'>,25682,64.662487
45,last_pymnt_d,101,May-16,<class 'str'>,71,0.178765
48,last_credit_pull_d,106,May-16,<class 'str'>,2,0.005036
33,revol_util,1089,0%,<class 'str'>,50,0.125891
21,title,19615,Debt Consolidation,<class 'str'>,11,0.027696
19,desc,26527,,<class 'str'>,12940,32.580507
10,emp_title,28820,US Army,<class 'str'>,2459,6.191303

## Attributes ignorable based on business importance

In [19]:
# creating new column desc_length, it'll be 0 for NANs
loan['derived_desc_length'] = loan['desc'].apply(lambda x: len(x.strip()) if x==x else 0)

In [20]:
# dropping these columns as then have no importance to the analysis
attrsToBeignored = ['id','member_id','url','desc','mths_since_last_delinq','last_credit_pull_d']
loan.drop(attrsToBeignored, inplace=True, axis=1)

## Imputations for ```pub_rec_bankruptcies```, ```emp_length```, ```last_pymnt_d```, ```revol_util```, ```title```, ```emp_title```

In [21]:
loan['pub_rec_bankruptcies'] = loan.pub_rec_bankruptcies.apply(lambda x: x if x==x else 0)
loan['emp_length'] = loan.emp_length.apply(lambda x: x if x==x else 'Unknwon')
loan['last_pymnt_d'] = loan.last_pymnt_d.apply(lambda x: x if x==x else 'Jan-00')
loan['revol_util'] = loan.revol_util.apply(lambda x: x if x==x else 0)
loan['title'] = loan.title.apply(lambda x: x if x==x else 'Unknown')
loan['emp_title'] = loan.emp_title.apply(lambda x: x if x==x else 'Unknown')

In [22]:
loan.isnull().sum()

loan_amnt                  0
funded_amnt                0
funded_amnt_inv            0
term                       0
int_rate                   0
installment                0
grade                      0
sub_grade                  0
emp_title                  0
emp_length                 0
home_ownership             0
annual_inc                 0
verification_status        0
issue_d                    0
loan_status                0
purpose                    0
title                      0
zip_code                   0
addr_state                 0
dti                        0
delinq_2yrs                0
earliest_cr_line           0
inq_last_6mths             0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                 0
total_acc                  0
out_prncp                  0
out_prncp_inv              0
total_pymnt                0
total_pymnt_inv            0
total_rec_prncp            0
total_rec_int              0
total_rec_late_fee         0
recoveries                 0
collection_recovery_fee    0
last_pymnt_d               0
last_pymnt_amnt            0
pub_rec_bankruptcies       0
derived_desc_length        0
dtype: int64

## Records to drop

In [23]:
# Loans that are currently in progress are of no importance to the analysis
print(f"Loans that are currently in progress: {(loan['loan_status']=='Current').sum()}")
loan.drop(loan[loan['loan_status']=='Current'].index, inplace=True)

Loans that are currently in progress: 1140

In [24]:
#checking for duplicate records
print(loan.duplicated().sum())
loan.drop_duplicates()
loan.dropna()

0

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,pub_rec_bankruptcies,derived_desc_length
0,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,Unknown,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,3,0,13648,83.70%,9,0.0,0.0,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,0.0,76
1,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,car,bike,309xx,GA,1.00,0,Apr-99,5,3,0,1687,9.40%,4,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,0.0,588
2,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,Unknown,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,2,0,2956,98.50%,10,0.0,0.0,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,0.0,0
3,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,other,personel,917xx,CA,20.00,0,Feb-96,1,10,0,5598,21%,37,0.0,0.0,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,0.0,178
5,5000,5000,5000.0,36 months,7.90%,156.46,A,A4,Veolia Transportaton,3 years,RENT,36000.0,Source Verified,Dec-11,Fully Paid,wedding,My wedding loan I promise to pay back,852xx,AZ,11.20,0,Nov-04,3,9,0,7963,28.30%,12,0.0,0.0,5632.210000,5632.21,5000.00,632.21,0.00,0.00,0.00,Jan-15,161.03,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,2500,2500,1075.0,36 months,8.07%,78.42,A,A4,FiSite Research,4 years,MORTGAGE,110000.0,Not Verified,Jul-07,Fully Paid,home_improvement,Home Improvement,802xx,CO,11.33,0,Nov-90,0,13,0,7274,13.10%,40,0.0,0.0,2822.969293,1213.88,2500.00,322.97,0.00,0.00,0.00,Jul-10,80.90,0.0,148
39713,8500,8500,875.0,36 months,10.28%,275.38,C,C1,"Squarewave Solutions, Ltd.",3 years,RENT,18000.0,Not Verified,Jul-07,Fully Paid,credit_card,Retiring credit card debt,274xx,NC,6.40,1,Dec-86,1,6,0,8847,26.90%,9,0.0,0.0,9913.491822,1020.51,8500.00,1413.49,0.00,0.00,0.00,Jul-10,281.94,0.0,406
39714,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,Unknown,< 1 year,MORTGAGE,100000.0,Not Verified,Jul-07,Fully Paid,debt_consolidation,MBA Loan Consolidation,017xx,MA,2.30,0,Oct-98,0,11,0,9698,19.40%,20,0.0,0.0,5272.161128,1397.12,5000.00,272.16,0.00,0.00,0.00,Apr-08,0.00,0.0,0
39715,5000,5000,650.0,36 months,7.43%,155.38,A,A2,Unknown,< 1 year,MORTGAGE,200000.0,Not Verified,Jul-07,Fully Paid,other,JAL Loan,208xx,MD,3.72,0,Nov-88,0,17,0,85607,0.70%,26,0.0,0.0,5174.198551,672.66,5000.00,174.20,0.00,0.00,0.00,Jan-08,0.00,0.0,0
39716,7500,7500,800.0,36 months,13.75%,255.43,E,E2,Evergreen Center,< 1 year,OWN,22000.0,Not Verified,Jun-07,Fully Paid,debt_consolidation,Consolidation Loan,027xx,MA,14.29,1,Oct-03,0,7,0,4175,51.50%,8,0.0,0.0,9195.263334,980.83,7500.00,1695.26,0.00,0.00,0.00,Jun-10,256.59,0.0,91

No duplicate records found

In [25]:
loan.shape

(38577, 41)

## Handle Invalid Values

In [26]:
dataTypeMetadata = loan.dtypes
coltypes = dataTypeMetadata.rename("type").to_frame()
coltypes.reset_index(inplace=True)

# Columns with Object type
allObjectTypeColumns = coltypes[coltypes['type'] == 'object']
objectcols = allObjectTypeColumns['index'].to_list()
objectcols

['term',
 'int_rate',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'verification_status',
 'issue_d',
 'loan_status',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'earliest_cr_line',
 'revol_util',
 'last_pymnt_d']

## Creating new columns from existing columns

In [ ]:
for objectcol in objectcols:
    loan["derived_"+objectcol] = loan[objectcol].apply(lambda x: str(x).strip().lower())
    print(objectcol, " : ",loan[objectcol].value_counts())

In [27]:
def correct_year(date, yearboundary=2017):
    if date.year > yearboundary:
        return date.replace(year=date.year-100)
    else:
        return date

In [28]:
loan['derived_int_rate_pct']   =  loan['int_rate'].apply(lambda x: x[:-1]).astype(np.float16)

loan['derived_revol_util_pct'] =  loan['revol_util'].apply(lambda x: x[:-1] if str(x).endswith("%") else x).astype(np.float16)

loan['derived_issue_d_date']     =  pd.to_datetime(loan['issue_d'], format="%b-%y").apply(lambda x: correct_year(x, 2017))
loan['derived_issue_d_year']     =  loan['derived_issue_d_date'].dt.year
loan['derived_issue_d_month']    =  loan['derived_issue_d_date'].dt.month

loan['derived_last_pymnt_d_date']     =  pd.to_datetime(loan['last_pymnt_d'], format="%b-%y")
loan['derived_last_pymnt_d_date']     = loan['derived_last_pymnt_d_date'].apply(lambda x: correct_year(x, 2020))
loan['derived_last_pymnt_d_year']     =  loan['derived_last_pymnt_d_date'].dt.year
loan['derived_last_pymnt_d_month']    =  loan['derived_last_pymnt_d_date'].dt.month

loan['derived_earliest_cr_line_date']   =  pd.to_datetime(loan['earliest_cr_line'], format="%b-%y").apply(lambda x: correct_year(x, 2017))
loan['derived_earliest_cr_line_month']  =  loan['derived_earliest_cr_line_date'].dt.month
loan['derived_earliest_cr_line_year']   =  loan['derived_earliest_cr_line_date'].dt.year

loan['derived_zip_code']= loan['zip_code'].apply(lambda x: x[:-2])

In [29]:
# dropping all columns with 0/1 unique values
uniquevalues = loan.nunique().rename("uniqueCounts").to_frame()
uniquevalues.reset_index(inplace=True)
uniqueCols = uniquevalues[uniquevalues['uniqueCounts']<=1]['index']
print("Dropping columns coz of all nulls Or single values : ", uniqueCols)
loan.drop(columns=uniqueCols, inplace=True)

Dropping columns coz of all nulls Or single values :  28        out_prncp
29    out_prncp_inv
Name: index, dtype: object

In [30]:
# not using these columns as new cols are derived out of it
redundant_cols = ['derived_earliest_cr_line', 'derived_int_rate', 'revol_util', 'derived_revol_util', 'issue_d', 
                  'last_pymnt_d', 'earliest_cr_line', 'term', 
                  'int_rate', 'grade', 'sub_grade', 'emp_title',
                  'emp_length', 'home_ownership', 'verification_status', 
                  'issue_d', 'loan_status', 'purpose', 'title', 'zip_code', 
                  'addr_state', 'earliest_cr_line', 'last_pymnt_d']
loan.drop(redundant_cols, axis=1, inplace=True)

KeyError: "['derived_earliest_cr_line', 'derived_int_rate', 'derived_revol_util'] not found in axis"

In [ ]:
#loan.to_csv("preprocessed_loan.csv", sep=',', encoding='utf-8')

### Data cleaning : trimming standardize the case of all columns

In [ ]:
# Converting month and year from number to string
def monthToNum(monthNum):
  months = {1: 'January', 2: 'February', 3: 'March', 4: 'April',5: 'May', 6: 'June',7: 'July', 8: 'August', 9: 'September',  10: 'October',  11: 'November',  12: 'December'}
  return months.get(monthNum, 'NaN')

loan['derived_earliest_cr_line_year'] = loan['derived_earliest_cr_line_year'].astype(str)
loan['derived_earliest_cr_line_month'] = loan['derived_earliest_cr_line_month'].apply(monthToNum)
loan['derived_issue_d_year'] = loan['derived_issue_d_year'].astype(str)
loan['derived_issue_d_month'] = loan['derived_issue_d_month'].apply(monthToNum)

# Univariate Analysis

In [ ]:
loan.info(verbose=True, show_counts=True)

In [ ]:
# separating out categorical and numerical variables
categorical = []
numerical = []
for col in loan.columns:
  if loan[col].dtype == object:
    categorical.append(col)
  else:
    numerical.append(col)
print(f"categorical: {categorical}\n")
print(f"numerical: {numerical}")

In [ ]:
categorical_cols = loan[categorical]
numeric_cols = loan[numerical]

## Categorical univariate analysis

In [ ]:
# method to add annotations to bar plots
def add_annots(ax, data, percentage=False):
  if percentage:
    data = round(100 * data / data.sum(), 2)
    data = data.apply(lambda x : str(x) + "%")
  for patch, value in zip(ax.patches, data):
    ax.annotate(value, xy=(patch.get_x() +patch.get_width() / 2, patch.get_height()), ha='center', va='bottom', color='black')

In [ ]:
# method to plot rank frequency plot
def frequency_plot(col, title, xlabel, ylabel, annot_percent=False, figsize=None, xtick_rotation=0):
  value_counts = categorical_cols[col].value_counts()
  if figsize:
    plt.figure(figsize=figsize)

  plt.title(title)
  ax = sns.barplot(x=value_counts.index, y=value_counts, palette=sns.color_palette('pastel'))
  add_annots(ax, value_counts, annot_percent)
  plt.xlabel(xlabel)
  plt.ylabel(ylabel)
  plt.xticks(rotation=xtick_rotation)
  plt.show()

In [ ]:
# bar plot for 'loan_status'
frequency_plot('derived_loan_status', 'Distribution of Loan Status', 'Loan Status', 'Frequency', True)

Around 85% of the loans were fully paid and \~14% defaulted.

In [ ]:
# bar plot for 'term'
frequency_plot('derived_term', 'Distribution of term', 'Term', 'Frequency', True, (5, 5))

From the above bar chart, it is clear that most borrowers (\~75%) prefer a term of 36 months more than 60 months.

In [ ]:
# bar plot for 'grade'
frequency_plot('derived_grade', 'Distribution of grade', 'Grade', 'Frequency', True)

Most loans were given to borrowers with a grade of B (\~30%), followed by A (\~26%) and so on.

In [ ]:
# bar plot for 'sub_grade'
frequency_plot('derived_sub_grade', 'Distribution of Sub Grade', 'Sub-Grade', 'Frequency', True, (20, 6))

Borrowers of most approved loans fall under A4, B3 category, closely followed by A5.

In [ ]:
# bar plot for 'emp_length'
frequency_plot('derived_emp_length', 'Distribution of employment length', 'Years', 'Frequency', True, (11, 6))

- Loans of borrowers who have been working 10+ years gets approved more than others.
- It is to be noted that the Distribution does not consistently decrease with no. of years of employment. It can be seen that people with \<1 year, 2 years, etc employment have a higher frequency compared to people with 6, 7, 8 or 9 years. i.e. There is no proper trend with the loan approvals with respect to employment years.

In [ ]:
# bar plot for 'home_ownership'
frequency_plot('derived_home_ownership', 'Distribution of House Ownership', 'House Ownership', 'Frequency', True, (5, 6))

Most of the borrowers have a rented house or mortgage.

In [ ]:
# bar plot for 'verification_status'
frequency_plot('derived_verification_status', 'Distribution of Verification Status', 'Verification Status', 'Frequency', True)

Most of the loans were given without verifying income of the borrower.

In [ ]:
# bar plot for 'purpose'
frequency_plot('derived_purpose', 'Distribution of Purpose of Loan', 'Purpose', 'Frequency', True, (15, 5), 90)

- Most loans were taken for dept consolidation i.e. taking a loan to pay off many other loans.
- Considering other purposes, people mostly get credit card loans followed by other (purpose unspecified), home improvement and so on.

In [ ]:
# bar plot for 'addr_state'
frequency_plot('derived_addr_state', 'Distribution of State', 'State', 'Frequency', True, (35, 7))

Most of the borrowers are from California (CA) followed by New Your (NY), Florida (FL) and so on.

In [ ]:
# bar plot for Year derived from 'issue_d'
frequency_plot('derived_issue_d_year', 'Distribution of Issued Loans by Year', 'Year', 'Frequency', True)

- The number of loans given increases every year.
- Most loans were given in the year 2011.

In [ ]:
# bar plot for Month derived from 'issue_d'
frequency_plot('derived_issue_d_month', 'Distribution of Loans Issued by Month', 'Month', 'Frequency', True, (10, 5), 90)

Most loans were given during the final months of a year (October, November & December) as they are festive seasons and people tend to spend more during those months.

In [ ]:
# bar plot for Year derived from 'earliest_cr_line'
frequency_plot('derived_earliest_cr_line_year', 'Distribution of Earliest Credit Lines by Year', 'Year', 'Frequency', True, (25, 6), 90)

Most of the borrower's credit lines had begun by 2000.

In [ ]:
# bar plot for Month derived from 'earliest_cr_line'
frequency_plot('derived_earliest_cr_line_month', 'Distribution of Earliest Credit Lines by Month', 'Month', 'Frequency', True, (10, 5), 90)

Most credit lines had begun in the months or October or December.

## Numerical univariate analysis

In [ ]:
pd.set_option('display.float_format', lambda x: '%.3f' % x) # display property for float

def boxplot_annot(box_plot, summary):
  box_plot.text(box_plot.get_xticks()[0]+0.17, summary['25%'], horizontalalignment='center', s=f'25%: {summary["25%"]}', color='black')
  box_plot.text(box_plot.get_xticks()[0]+0.17, summary['50%'], horizontalalignment='center', s=f'50%: {summary["50%"]}', color='black')
  box_plot.text(box_plot.get_xticks()[0]+0.17, summary['75%'], horizontalalignment='center', s=f'75%: {summary["75%"]}', color='black')

In [ ]:
def plot_histogram_boxplot(col, bins, title, quantiles=None, outlier_count=False, is_outlier_after=95, remove_outliers=False):
  
  outlier_threshold = 0
  column = loan[col]

  if quantiles:
    summary = column.describe(percentiles=quantiles)
  else:
    summary = column.describe()
    
  print("Summary metrics: ")
  print(summary)
  if outlier_count:
    outlier_threshold = np.percentile(column, is_outlier_after)
    print("Outliers: ", (column > outlier_threshold).sum())
  
  if remove_outliers:
    column = loan[loan[col] < outlier_threshold][col]
    print("Threshold: ", outlier_threshold)

  
  plt.figure(figsize=(15, 7))
  plt.suptitle(title)

  plt.subplot(1, 2, 1)
  sns.set_style("darkgrid")
  sns.distplot(column, bins=bins)

  plt.subplot(1, 2, 2)
  sns.set_style("whitegrid")
  box_plot = column.plot.box()
  boxplot_annot(box_plot, summary)
  plt.show()

In [ ]:
# analysis of loan_amnt
plot_histogram_boxplot('loan_amnt', 20, 'Loan Amount', [0.25, 0.5, 0.75, 0.95], True, 95)

- Most loan amounts were approximately between 5300 and 15000.
- The median is 9600.
-  In the histogram, there are many spikes near round numbers. This might be because, most people prefer rounded numbers more.

In [ ]:
# analysis of funded_amnt
plot_histogram_boxplot('funded_amnt', 20, 'Funded Amount', [0.25, 0.5, 0.75, 0.95], True, 95)

The summary metrics as well as the distribution of ```funded_amnt``` is very similar to ```loan_amnt```. This indicates that, in most cases, the Lending club lends the total amount requested by the borrower.

In [ ]:
# analysis of funded_amnt_inv
plot_histogram_boxplot('funded_amnt_inv', 20, 'Investors Funded Amount', [0.25, 0.5, 0.75, 0.95], True, 95)

The summary metrics for this column is also very similar to ```loan_amnt```.

In [ ]:
# analysis of installment
plot_histogram_boxplot('installment', 20, 'Installment', [0.25, 0.5, 0.75, 0.95], True, 95)

We can consider the median (~278) as the representative value of the monthly installment amount.

In [ ]:
# analysis of annual_inc
# outliers (95 percentile above) are removed from visualization as visualization was not proper

plot_histogram_boxplot('annual_inc', 20, 'Annual Income', [0.25, 0.5, 0.75, 0.95], True, 95, True)

- An income of 58868 (median) is an representation of the borrowers.
- 95% of the people have an income below 140004.

In [ ]:
# analysis of dti
plot_histogram_boxplot('dti', 20, 'Debts to Income Ratio', [0.25, 0.5, 0.75, 0.95], True, 95)

- There are no outliers in this column.
- It is clear that greater the DTI lesser is the chance of getting a loan.
- All the approved loans have a DTI of less than 30 and most lie in the range of 8 to ~19.

In [ ]:
# analysis of delinq_2yrs
plot_histogram_boxplot('delinq_2yrs', 15, '30+ days past-due incidences of delinquency in the past', [0.25, 0.5, 0.75, 0.95], True, 95)

Except a few, most borrowers whose loan was approved had no 30+ days past-due delinquencies is the past 2 years.

In [ ]:
# analysis of inq_last_6mths
plot_histogram_boxplot('inq_last_6mths', 15, 'Number of Inquiries in the past 6 months', [0.25, 0.5, 0.75, 0.95], True, 95)

Most borrowers had enquired atleast once.

In [ ]:
# analysis of open_acc
plot_histogram_boxplot('open_acc', 20, 'Number of Open Credit Lines', [0.25, 0.5, 0.75, 0.95], True, 95)

Most borrowers have an open credit line between 6 and 12.

In [ ]:
# analysis of total_acc
plot_histogram_boxplot('total_acc', 10, 'Total Number of Credit Lines', [0.25, 0.5, 0.75, 0.95], True, 95)

Most borrowers have a total number of credit lines between 13 and 29.

In [ ]:
# analysis of pub_rec
plot_histogram_boxplot('pub_rec', 5, 'Number of Derogatory Records', [0.25, 0.5, 0.75, 0.95], True, 95)

Except a very few borrowers, most did not have any derogatory public records.

In [ ]:
# analysis of pub_rec_bankruptcies
plot_histogram_boxplot('pub_rec_bankruptcies', 5, 'Number of Public Records of Bankruptcies', [0.25, 0.5, 0.75, 0.95], True, 95)

Most borrowers had no public record of bankruptcies. Though a few borrowers had either 1 or 2 bankruptcies.

In [ ]:
# analysis of revol_bal
# outliers (95 percentile above) are removed from visualization as visualization was not proper

plot_histogram_boxplot('revol_bal', 20, 'Credit Revolving Balance', [0.25, 0.5, 0.75, 0.95], True, 95, True)

- Most borrowers had a revolving balance between 3650 and 16912.
- There are also some cases where borrowers had a revolving balance of more than a lakh.

In [ ]:
# analysis of total_rec_late_fee
plot_histogram_boxplot('total_rec_late_fee', 5, 'Total Late Fee received', [0.25, 0.5, 0.75, 0.90, 0.95], True, 95)

90% of the borrowers had not paid any late fee.

In [ ]:
# analysis of derived_int_rate_pct
plot_histogram_boxplot('derived_int_rate_pct', 20, 'Interest Rate', [0.25, 0.5, 0.75, 0.95], True, 95)

Most loan interest rates were between ~9% and 14%.

In [ ]:
# analysis of derived_revol_util_pct
plot_histogram_boxplot('derived_revol_util_pct', 20, 'Revolving Balance utilization rate', [0.25, 0.5, 0.75, 0.95], True, 95)

Most people have a utilization rate between 25% and 72%.

# Segmented Univariate Analysis

In [ ]:
# method to display boxplot
def plot_segmented_boxplot(segment_col, metric_col, title, figsize=(6, 6), plot_order=None, xtick_rot=0, show_stats=True, remove_outliers=False, outlier_threshold=0.95):
  
  temp_loan = loan
  if remove_outliers:
    temp_loan = loan[loan[metric_col] < loan[metric_col].quantile(outlier_threshold)]

  plt.figure(figsize=figsize)
  groupby = temp_loan.groupby(segment_col)[metric_col]
  segmented_summary = groupby.describe()

  ax = sns.boxplot(data=temp_loan, x=segment_col, y=metric_col, order=plot_order)
  plt.title(title)
  plt.xticks(rotation=xtick_rot)
  plt.show()

  if show_stats:
    return segmented_summary

In [ ]:
# method to display countplot

def add_countplot_annots(ax):
  all_heights = [[p.get_height() for p in bars] for bars in ax.containers]
  for bars in ax.containers:
    for i, p in enumerate(bars):
      total = sum(xgroup[i] for xgroup in all_heights)
      percentage = f'{round(100 * p.get_height() / total, 2)}%'
      ax.annotate(percentage, (p.get_x() + p.get_width() / 2, p.get_height()), size=11, ha='center', va='bottom')

def segmented_countplot(data, x, hue, title, figsize=(7, 5), annot=True, scale=False, xtick_rot=0):
  plt.figure(figsize=figsize)
  ax = sns.countplot(data=data, x=x, hue=hue, palette=sns.color_palette('pastel'), log=scale)
  
  if annot:
    add_countplot_annots(ax)
  plt.title(title)
  plt.xticks(rotation=xtick_rot)
  plt.legend(loc='upper right')
  plt.show()

### Loan Amount

In [ ]:
# loan amount for different terms

plot_segmented_boxplot('derived_term', 'loan_amnt', 'Loan Amount for different Loan Terms')

Higher loan amounts tend to have a higher term.

In [ ]:
# loan amount for different grades
order = sorted(loan['derived_grade'].unique())
plot_segmented_boxplot('derived_grade', 'loan_amnt', 'Loan Amount for different Grades', (15, 5), order)

Loans with a grade G seems to have the highest the loan amounts.

In [ ]:
# loan amount for years of employment
order = ['< 1 year', '1 year', '2 years', '3 years', '4 years', '5 years', '6 years', '7 years', '8 years', '9 years', '10+ years', 'unknwon']
plot_segmented_boxplot('derived_emp_length', 'loan_amnt', 'Loan Amount for different Employment Years', (15, 5), order)

The loan amounts are almost similar for borrowers with less than 1 year of employment to 9 years of employment. Borrowers with 10+ years of employment have a higher loan amount.

In [ ]:
# loan amount for different house ownership
plot_segmented_boxplot('derived_home_ownership', 'loan_amnt', 'Loan Amount for different House Ownership', (15, 5))

Borrowers with a mortgage have a slightly higher loan amount than others.

In [ ]:
# loan amount for verification status
plot_segmented_boxplot('derived_verification_status', 'loan_amnt', 'Loan Amount for different Verification Status')

- Loans with a higher loan amount are verified.
- Source verified loans and not verified loans have lesser loan amounts.

In [ ]:
# loan amount for different loan purpose
plot_segmented_boxplot('derived_purpose', 'loan_amnt', 'Loan Amount for different Loan Purpose', (15, 5), None, 90)

Loan amount for small business tend to be higher than the others and loan amount for vacation is the least.

In [ ]:
# loan amount for different states
plot_segmented_boxplot('derived_addr_state', 'loan_amnt', 'Loan Amount for different States', (25, 10), None, 90, False)

- Loan amounts in Iowa (IA) tend to be higher than others.
- Maine (ME) has the lowest loan amounts.
- Apart from a few states, all other states have almost similar loan amounts.

In [ ]:
# loan amount for Year of Loan issue
plot_segmented_boxplot('derived_issue_d_year', 'loan_amnt', 'Loan Amount for Year of Issue', (10, 5))

- Loan amounts in 2010 and 2011 are very similar and are higher compared to loan amounts for other years.

In [ ]:
# loan amount for Month of Loan issue
order = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

plot_segmented_boxplot('derived_issue_d_month', 'loan_amnt', 'Loan Amount for Month of Issue', (10, 5), order, 90)

- Loan amount for December is a bit higher than other months.
- Looking at the 75th percentile, loan amount for June and July are a bit lower than others.

In [ ]:
# Loan amount for Loan Status

plot_segmented_boxplot('derived_loan_status', 'loan_amnt', 'Loan Amount for Loan Status', (10, 5), None, 90)

Loan amount of fully paid loans seems to be a bit lower than charged off loans.

### Installment

In [ ]:
# installment for different terms

plot_segmented_boxplot('derived_term', 'installment', 'Installment for different Loan Terms')

Loans with 60 month term has a higher monthly installment.

In [ ]:
# installment for different grades
order = sorted(loan['derived_grade'].unique())
plot_segmented_boxplot('derived_grade', 'installment', 'Installment for different Grades', (15, 5), order)

Loans with a grade ```g``` seems to have the highest the installment and this keeps decreasing from ```f``` to ```a```.

In [ ]:
# installment for years of employment
order = ['< 1 year', '1 year', '2 years', '3 years', '4 years', '5 years', '6 years', '7 years', '8 years', '9 years', '10+ years', 'unknwon']
plot_segmented_boxplot('derived_emp_length', 'installment', 'Installment for different Employment Years', (15, 5), order)

There is a slight increase in the installment with increase in the years of employment.

In [ ]:
# installment for different house ownership

plot_segmented_boxplot('derived_home_ownership', 'installment', 'Installment for different House Ownership', (15, 5))

Looking at the 75th percentile, borrowers with a ```other``` as the home ownership have a higher loan amount than others, followed very closely by mortgage.

In [ ]:
# installment for verification status

plot_segmented_boxplot('derived_verification_status', 'installment', 'Installment for different Verification Status')

- Loans with a higher installment are verified.
- Source verified loans and not verified loans have lesser installments.

In [ ]:
# installment for different loan purpose

plot_segmented_boxplot('derived_purpose', 'installment', 'Installment for different Loan Purpose', (15, 5), None, 90)

Installments for small business tend to be higher than the others and installments for vacation is the least.

In [ ]:
# installment for different states

plot_segmented_boxplot('derived_addr_state', 'installment', 'Installment for different States', (25, 10), None, 90, False)

- Installments in Iowa (IA) tend to be higher than others.
- Maine (ME) has the lowest installments.

In [ ]:
# installment for Year of Loan issue
plot_segmented_boxplot('derived_issue_d_year', 'installment', 'Installment for Year of Issue', (10, 5))

- Installments in 2009 and 2011 are very similar and are higher compared to installments for other years.

In [ ]:
# installment for Month of Loan issue
order = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

plot_segmented_boxplot('derived_issue_d_month', 'installment', 'Installment for Month of Issue', (10, 5), order, 90)

- Installments for December is a bit higher than other months.
- Looking at the 75th percentile, installment for June and July are a bit lower than others.

In [ ]:
# installment for Loan Status

plot_segmented_boxplot('derived_loan_status', 'installment', 'Installment for Loan Status', (10, 5), None, 90)

Fully paid loans have lower monthly installments compared to charged off loans.

### Annual Income

In [ ]:
# annual_inc for different terms

plot_segmented_boxplot('derived_term', 'annual_inc', 'Annual Income for different Loan Terms', remove_outliers=True)

Borrowers with a higher annual income prefer 60 month term more.

In [ ]:
# annual_inc for different grades
order = sorted(loan['derived_grade'].unique())
plot_segmented_boxplot('derived_grade', 'annual_inc', 'Annual Income for different Grades', (15, 5), order, remove_outliers=True)

Loans with a grade ```g``` seems to have the highest the annual income and this keeps decreasing from ```f``` to ```a```.

In [ ]:
# annual_inc for years of employment
order = ['< 1 year', '1 year', '2 years', '3 years', '4 years', '5 years', '6 years', '7 years', '8 years', '9 years', '10+ years', 'unknwon']
plot_segmented_boxplot('derived_emp_length', 'annual_inc', 'Annual Income for different Employment Years', (15, 5), order, remove_outliers=True)

There is a slight increase in the Annual Income with increase in the years of employment.

In [ ]:
# annual_inc for different house ownership

plot_segmented_boxplot('derived_home_ownership', 'annual_inc', 'Annual Income for different House Ownership', (15, 5), remove_outliers=True)

Without considering ```none``` category, borrowers with mortgage have a higher loan amount than others.

In [ ]:
# annual_inc for verification status

plot_segmented_boxplot('derived_verification_status', 'annual_inc', 'Annual Income for different Verification States', remove_outliers=True)

- Loans with a higher annual income are verified.
- Source verified loans and not verified loans have lesser annual income.

In [ ]:
# annual_inc for different loan purpose

plot_segmented_boxplot('derived_purpose', 'annual_inc', 'Annual Income for different Loan Purpose', (15, 5), None, 90, remove_outliers=True)

- Annual income of people who get loan for home improvement are higher compared to others.
- Annual income of those who avail educational loans are lower than others.

In [ ]:
# annual_inc for different states

plot_segmented_boxplot('derived_addr_state', 'annual_inc', 'Annual Income for different States', (25, 10), None, 90, False, remove_outliers=True, outlier_threshold=0.99)

- Annual Income in District of Columbia (DC) tend to be higher than others.
- Maine (ME) has the lowest annual income.

In [ ]:
# annual_inc for Loan Status

plot_segmented_boxplot('derived_loan_status', 'annual_inc', 'Annual Income for Loan Status', (10, 5), None, 90, remove_outliers=True)

Annual income of borrowers who have fully paid the loans seems to be higher than borrowers whose loans charged off.

### DTI (Debts to Income Ratio)

In [ ]:
# dti for different terms

plot_segmented_boxplot('derived_term', 'dti', 'DTI for different Loan Terms')

Loans with 60 month term have a higher DTI.

In [ ]:
# dti for different grades
order = sorted(loan['derived_grade'].unique())
plot_segmented_boxplot('derived_grade', 'dti', 'DTI for different Grades', (15, 5), order)

Loans with a grade A seems to have the lowest DTI.

In [ ]:
# dti for years of employment
order = ['< 1 year', '1 year', '2 years', '3 years', '4 years', '5 years', '6 years', '7 years', '8 years', '9 years', '10+ years', 'unknwon']
plot_segmented_boxplot('derived_emp_length', 'dti', 'DTI for different Employment Years', (15, 5), order)

DTI is almost very similar for all years of employment.

In [ ]:
# dti for different house ownership

plot_segmented_boxplot('derived_home_ownership', 'dti', 'DTI for different House Ownership', (15, 5))

Borrowers with a ```other``` as the home ownership have a lower DTI than others.

In [ ]:
# dti for verification status

plot_segmented_boxplot('derived_verification_status', 'dti', 'DTI for different Verification Status')

Verified loans seems to have higher DTI than others.

In [ ]:
# dti for different loan purpose

plot_segmented_boxplot('derived_purpose', 'dti', 'DTI for different Loan Purpose', (15, 5), None, 90)

DTI of loans for credit card and debt consolidation are higher compared to other purposes.

In [ ]:
# dti for different states

plot_segmented_boxplot('derived_addr_state', 'dti', 'DTI for different States', (25, 10), None, 90, False)

Maine (ME) has the lowest DTI.

In [ ]:
# dti for Year of Loan issue
plot_segmented_boxplot('derived_issue_d_year', 'dti', 'DTI for Year of Issue', (10, 5))

Loan issued in 2007 have lower DTI compared to other years and the DTI seems to increase every year.

In [ ]:
# dti for Month of Loan issue
order = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

plot_segmented_boxplot('derived_issue_d_month', 'dti', 'DTI for Month of Issue', (10, 5), order, 90)

DTI for all the months seems fairly similar with December having a slightly higher DTI and January having a slightly lower DTI.

In [ ]:
# dti for Loan Status

plot_segmented_boxplot('derived_loan_status', 'dti', 'DTI for Loan Status', (10, 5), None, 90)

Loans that have been fully paid seems to have a lower DTI compared to loans that were charged off.

### Interest Rate (int_rate)

In [ ]:
# interest rate for different terms

plot_segmented_boxplot('derived_term', 'derived_int_rate_pct', 'Interest Rate for different Loan Terms')

Loans with 60 month term have a higher interest rate.

In [ ]:
# interest rate for different grades
order = sorted(loan['derived_grade'].unique())
plot_segmented_boxplot('derived_grade', 'derived_int_rate_pct', 'Interest Rate for different Grades', (15, 5), order)

Loans with a grade G has the highest interest rate and it decreases for every grade from ```f``` to ```a```.

In [ ]:
# interest rate for years of employment
order = ['< 1 year', '1 year', '2 years', '3 years', '4 years', '5 years', '6 years', '7 years', '8 years', '9 years', '10+ years', 'unknwon']
plot_segmented_boxplot('derived_emp_length', 'derived_int_rate_pct', 'Interest Rate for different Employment Years', (15, 5), order)

Interest rate is almost very similar for all years of employment.

In [ ]:
# interest rate for different house ownership

plot_segmented_boxplot('derived_home_ownership', 'derived_int_rate_pct', 'Interest Rate for different House Ownership', (15, 5))

Interest Rate for any type of home ownership is almost similar.

In [ ]:
# interest rate for verification status

plot_segmented_boxplot('derived_verification_status', 'derived_int_rate_pct', 'Interest Rate for different Verification Status')

Verified loans seems to have higher interest rates than others.

In [ ]:
# interest rate for different loan purpose

plot_segmented_boxplot('derived_purpose', 'derived_int_rate_pct', 'Interest Rate for different Loan Purpose', (15, 5), None, 90)

Interest Rate of loans for small business, debt consolidation and house seems to be higher compared to other purposes.

In [ ]:
# interest rate for different states

plot_segmented_boxplot('derived_addr_state', 'derived_int_rate_pct', 'Interest Rate for different States', (25, 10), None, 90, False)

- Interest rates in Alaska (AK), Hawaii (HI) and Wyoming (WY) are the highest.
- Interest rates seems to be lowest in Iowa (IA).

In [ ]:
# interest rate for Year of Loan issue
plot_segmented_boxplot('derived_issue_d_year', 'derived_int_rate_pct', 'Interest Rate for Year of Issue', (10, 5))

The interest rates have increased consistently throughout the years.

In [ ]:
# interest rate for Month of Loan issue
order = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

plot_segmented_boxplot('derived_issue_d_month', 'derived_int_rate_pct', 'Interest Rate for Month of Issue', (10, 5), order, 90)

Interest Rate for all the months seems nearly similar.

In [ ]:
# Interest rate for Loan Status

plot_segmented_boxplot('derived_loan_status', 'derived_int_rate_pct', 'Interest Rate for Loan Status', (10, 5), None, 90)

Loans that have been fully paid seems to have a lower interest rate compared to loans that were charged off.

### Revolving line utilization rate (revol_util)

In [ ]:
# revol_util rate for different terms

plot_segmented_boxplot('derived_term', 'derived_revol_util_pct', 'revol_util for different Loan Terms')

Loans with 60 month term have a higher revolving utilization rate.

In [ ]:
# revol_util rate for different grades
order = sorted(loan['derived_grade'].unique())
plot_segmented_boxplot('derived_grade', 'derived_revol_util_pct', 'revol_util for different Grades', (15, 5), order)

Loans with a grade G has the highest revolving utilization rate and it decreases for every grade from ```f``` to ```a```.

In [ ]:
# revol_util rate for years of employment
order = ['< 1 year', '1 year', '2 years', '3 years', '4 years', '5 years', '6 years', '7 years', '8 years', '9 years', '10+ years', 'unknwon']
plot_segmented_boxplot('derived_emp_length', 'derived_revol_util_pct', 'revol_util for different Employment Years', (15, 5), order)

Revolving utilization rates are almost very similar for all years of employment.

In [ ]:
# revol_util rate for different house ownership

plot_segmented_boxplot('derived_home_ownership', 'derived_revol_util_pct', 'revol_util for different House Ownership', (15, 5))

Revolving utilization rate for borrowers with a rented house is higher than others.

In [ ]:
# revol_util for verification status

plot_segmented_boxplot('derived_verification_status', 'derived_revol_util_pct', 'revol_util for different Verification Status')

Verified loans seems to have higher revolving utilization rates than others.

In [ ]:
# revol_util for different loan purpose

plot_segmented_boxplot('derived_purpose', 'derived_revol_util_pct', 'revol_util for different Loan Purpose', (15, 5), None, 90)

- Revolving utilization rate of loans for credit card and renewable energy seems to be higher compared to other purposes.
- Loans on house have a lower revolving utilization rate.

In [ ]:
# revol_util for different states

plot_segmented_boxplot('derived_addr_state', 'derived_revol_util_pct', 'revol_util for different States', (25, 10), None, 90, False)

- Revolving utilization rate are the highest in Nebraska (NE).
- Revolving utilization rate seems to be lowest in Iowa (IA).

In [ ]:
# revol_util for Year of Loan issue
plot_segmented_boxplot('derived_issue_d_year', 'derived_revol_util_pct', 'revol_util for Year of Issue', (10, 5))

The revolving utilization rates have increased consistently throughout the years from 2007 to 2011.

In [ ]:
# revol_util rate for Month of Loan issue
order = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

plot_segmented_boxplot('derived_issue_d_month', 'derived_revol_util_pct', 'revol_util for Month of Issue', (10, 5), order, 90)

Revolving utilization rate for all the months seems fairly similar but increases for December.

In [ ]:
# revol_util for Loan Status

plot_segmented_boxplot('derived_loan_status', 'derived_revol_util_pct', 'revol_util for Loan Status', (10, 5), None, 90)

Borrowers with a lower revolving utilization rates have fully paid the loans compared to borrowers with higher revolving utilization rates.

### Loan Status

In [ ]:
# loan_status for loan term
segmented_countplot(loan, 'derived_term', 'derived_loan_status', 'Loan status for different Loan Terms')

Borrowers who had chosen 60 months term tend to be defaulters (25.3%) more compared to borrowers who choose 36 months term (11.1%).

In [ ]:
# loan_status for purpose
segmented_countplot(loan, 'derived_purpose', 'derived_loan_status', 'Loan status for different purposes', (25, 6), scale=True, xtick_rot=90)

- Loans for major purchase were mostly paid back, followed very closely by loans for wedding, car and credit card.
- Loans for small business are mostly charged off.

In [ ]:
# loan_status for derived_grade
segmented_countplot(loan, 'derived_grade', 'derived_loan_status', 'Loan status for different grades', (10, 6), scale=True)

- Loans with grade ```a``` are the most fully paid loans.
- Almost 33.8% of grade ```g``` loans are charged off (highest), closely followed by grade ```f```.

In [ ]:
# loan_status for derived_emp_length
segmented_countplot(loan, 'derived_emp_length', 'derived_loan_status', 'Loan status for years of employment', (12, 6), scale=True, xtick_rot=90)

Charged off loans are less for borrowers with 9 years of employment.

In [ ]:
# loan_status for derived_home_ownership
segmented_countplot(loan, 'derived_home_ownership', 'derived_loan_status', 'Loan status for home ownership', (12, 6), scale=True)

- Borrowers with a ```mortgage``` tend to have the lowest charged off loans.

In [ ]:
# loan_status for derived_verification_status
segmented_countplot(loan, 'derived_verification_status', 'derived_loan_status', 'Loan status for verification status', (10, 6))

- Loans that were not verified have a higher percent of fully paid loans.

# Bivariate Analysis

## Preps

In [ ]:
#loan = pd.read_csv('preprocessed_loan.csv', index_col=0)

In [ ]:
loan.shape

In [ ]:
loan['derived_earliest_cr_line_year'] = loan['derived_earliest_cr_line_year'].astype(str)
loan['derived_issue_d_year'] = loan['derived_issue_d_year'].astype(str)
loan['derived_installment_to_monthly_salary_ratio'] = loan['installment']/(loan['annual_inc']/12)

#target variable used to color the scatterplot
loan['derived_loan_status_bin']= loan['derived_loan_status'].apply(lambda x: 1 if x=='charged off' else 0)

defaulters = loan[loan['derived_loan_status']=='charged off']
non_defaulters = loan[loan['derived_loan_status']=='fully paid']


loan['derived_loan_to_income_ratio'] = loan['loan_amnt']/loan['annual_inc']

#outlier handling
loan = loan[loan["annual_inc"] <= loan["annual_inc"].quantile(0.99)] #4000000]
#loan["annual_inc"].describe()

## Analysis of Continuous Variables

### 1. Correlations

In [ ]:
# TODO remove if not required
columnsPostLoanApproval = ['total_rec_prncp', 'total_rec_int',
                          'total_rec_late_fee', 'recoveries', 'collection_recovery_fee','last_pymnt_amnt','derived_issue_d',
                          'derived_title','derived_zip_code','derived_last_pymnt_d','derived_earliest_cr_line_date','derived_last_pymnt_d_date',
                          'derived_issue_d_date']
loan_corr = loan#.drop(columnsPostLoanApproval, axis=1)

In [ ]:
def plot_cluster(columns, df = loan, font_size=2):
    """
        Parameters:
            columns: columns to be considered for crrelation
            df: dataframe, defaulted to loan
            font_size : size defaulted to 2
        Returns:
            None, does a clustermap plot
    """
    dfToCorr = df[columns]
    df_corr = dfToCorr.corr()
    
    sns.set(font_scale=font_size)
    cmap = sns.diverging_palette(h_neg=210, h_pos=350, s=90, l=30, as_cmap=True)
    sns.clustermap(df_corr, annot=True, figsize=(30, 20),cmap="BrBG")

In [ ]:
## correlations between continuous variables
#'total_rec_prncp', 'total_rec_int',
columnsToCorr1 = loan.columns.difference({'id','member_id','derived_last_pymnt_d_year','total_rec_late_fee', 'recoveries', 'derived_issue_d_date','collection_recovery_fee','derived_last_pymnt_d_month','derived_title','derived_zip_code','derived_last_pymnt_d','derived_earliest_cr_line_date','derived_last_pymnt_d_date','derived_earliest_cr_line_month','derived_earliest_cr_line_day'}).to_list()
                                         
plot_cluster(columnsToCorr1, loan_corr, 1.7)

Observations :
1. [loan_amount, funded amount, funded amount by investors, total payment to investors, total payment] are highly correlated  and proportional
2. public records and public records of bankruptcies are highly correlated
3. open account and total open account are correlated
4. annual income is 
      A. positively correlated to
          a. revolving credit balance : as income increases higher lesser the use of revol credits causing higher revolving credit balance 
          b. total payments (and other correlated loan payments listed in observation 1) : as income increases, the amount of loan increases which also means higher installament, and it also ensures the timely credit payment causing total_pyment, total investors payment to increase
          c. total accounts & open accounts : as income rises, more accounts can be managed by borrowers
      B. negatively correlates to
          a. dti (slightly 11%) : debt to income ratio tend to reduce as annual income rises
          b. loan status (slightly 6%) : increase in income enables the borrower to pay the credit
          c. pub_rec & pub_rec_bankkruptcies (very less 1-2 %)
5. interest rate is
    A. positively correlated to
        1. total recovered interest [52 %] : obvious relation
        2. revolving utilization of credit [46 %] : as credit utilization increases, possibility of default increases and higher interest rates are charged to compensate the risk involved
        3. loan amount [30 %]: higher amount loans are given with higher interest rates
    B. negatively correlates to
        1. total accounts of the borrower [very less 5%]

6. total recovered principal is
    A. positively correlates to
        a. loan amount (& related features from observation 1)
        b. annual income
        c. revolving balance & total accounts of borrower
    B.  negatively correlates to
        a. public records & public records of bankruptcies
        b. delinq_2yrs
        c. number of credit inquiries made by borrower in last 6 months
Credit history related variables
7. debt to income ratio [dti] is 
    A. positively correlates to 
        1. open accounts
        2. revolving credit utilization %
        3. total accounts
        4. revolving balance
    B. negatively correlates to 
        1. annual income
        2. delinq_2yrs : The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years

8. delinq_2yrs is
    A. positively correlates to 
        1. interest rate
    B. negatively correlates to
        1. loan amount
        2. revolving credit balance

In [ ]:
#further drilldown on specfic variables
columnsToCorr2 = set(columnsToCorr1).difference({'total_pymnt','total_pymnt_inv','funded_amnt','funded_amnt_inv','total_acc','open_acc','revol_util','derived_disc_length','derived_desc_length','revol_bal'})                                
plot_cluster(columnsToCorr2, loan_corr )

### 2. Common Methods

In [ ]:
pd.set_option('display.float_format', lambda x: '%.3f' % x) # display property for float

def boxplot_annot(box_plot, summary):
    box_plot.text(box_plot.get_xticks()[0]+0.17, summary['25%'], horizontalalignment='center', s=f'25%: {summary["25%"]}', color='black')
    box_plot.text(box_plot.get_xticks()[0]+0.17, summary['50%'], horizontalalignment='center', s=f'50%: {summary["50%"]}', color='black')
    box_plot.text(box_plot.get_xticks()[0]+0.17, summary['75%'], horizontalalignment='center', s=f'75%: {summary["75%"]}', color='black')

In [ ]:
sns.set()

def remove_outliers_auto(df, column):
    Q1 = df.quantile(0.25)
    Q3 = df.quantile(0.75)
    IQR = Q3 - Q1

    return df[~((df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))).any(axis=1)]

def handle_outliers(df, col, index, auto_remove_outliers = False, outlier_quantiles=None):
    default_outlier_b = [[2, 98],[2,98]]
    
    if auto_remove_outliers:
        df1 = remove_outliers_auto(df, col)
    else:
        if isinstance(outlier_quantiles, list):
            default_outlier_b = outlier_quantiles
        else:
            print("defaulting outlier quntiles to ",default_outlier_b)
        P = np.percentile(df[col], default_outlier_b[int(index)])
        df1 = df[(df[col] > P[0]) & (df[col] < P[1])]
       
    print(f"outliers removal summary for {col} : \n "+
              f"Total original records {df.shape[0]}, \n"+
              f"Total Records after outlier removal {df1.shape[0]}" )
    
    return df1

def plot_scatter(df, x, y, c=None, auto_remove_outliers=False, outlier_quantile=None):
    
    df1 = handle_outliers(df,  x, 0, auto_remove_outliers, outlier_quantile)
    df1 = handle_outliers(df1, y, 1, auto_remove_outliers, outlier_quantile)
        
    if c:
        sns.scatterplot(x=df1[x],y=df1[y], c= df1[c], cmap=plt.cm.get_cmap("cool",5), alpha=0.5)
    else:
        chargedoff = df1[df1['derived_loan_status_bin']==1]
        fullypaid = df1[df1['derived_loan_status_bin']==0]
        #cmap=plt.cm.get_cmap("cool",5),
        cols=fullypaid.derived_loan_status_bin.map({0:'b', 1:'r'})
        ax = sns.scatterplot(x=fullypaid[x],y=fullypaid[y], c= cols, alpha=0.7, cmap='viridis')
        
        cols = chargedoff.derived_loan_status_bin.map({0:'b', 1:'r'})
        #sns.scatterplot(x=df1[x],y=df1[y], c= cols, alpha=0.8, cmap=plt.cm.get_cmap("cool",5))
        ax = sns.scatterplot(x=chargedoff[x],y=chargedoff[y], c=cols, alpha=0.3, cmap='viridis')
        
    
    #cbar = plt.colorbar(orientation="vertical", extend="both",
    #pad=0.05, shrink=1, aspect=20, format="%.3f")
    #cbar.set_label(label="Concentrations", size=15)
    #cbar.set_ticks([0,5,10])
    #cbar.set_ticklabels(["0 grams","5 million","cats"])
    #cbar.ax.tick_params(labelsize=15)
    #plt.clim(0,10)
    
    title = f"{x} Vs {y}"
    plt.figure(figsize=(15, 7))
    plt.suptitle(title)

    summary = df1[x].describe()
    plt.subplot(1, 2, 1)
    sns.set_style("whitegrid")
    box_plot = df1[x].plot.box()
    boxplot_annot(box_plot, summary)

    summary = df1[y].describe()
    plt.subplot(1, 2, 2)
    sns.set_style("whitegrid")
    box_plot = df1[y].plot.box()
    boxplot_annot(box_plot, summary)
    
    plt.show()

In [ ]:
plot_scatter(loan, 'annual_inc','loan_amnt',outlier_quantile =[[0.1, 99],[0.1, 99]])

1. As borrower's annual income increases, they start getting bigger loans. trend is evident till annual income of 50K
2. High income individuals tend to pay the debts fully.
3. Borrowers with low income tend to have high % of defaulters.

In [ ]:
plot_scatter(defaulters, 'annual_inc','installment',outlier_quantile =[[0.1, 99],[0.1, 99]])

1. Defaulters are more between <=100k annual income and <=700 installment

In [ ]:
# TODO : futher analyse these 2 groups 
loan[loan['annual_inc'] < 100000]
loan[loan['annual_inc'] >= 100000]

In [ ]:
loan['derived_loan_amnt_log'] = np.log10(loan['loan_amnt'])
loan['derived_annual_inc_log'] = np.log10(loan['annual_inc'])

In [ ]:
plot_scatter(loan, 'loan_amnt','derived_int_rate_pct',outlier_quantile =[[0.1, 99],[0.1, 99]])

1. As loan amount increase, the interest rate also increase 
2. defaulters are everywhere, but slightly more percentage with lower loan amount < 15k & interest rates of (>= 9%), though this trend is not consistent

### 3. Analysis of Impact of all variables on target variable ("loan_status")

#### Distribution of 'loan_status' in the dataset

In [ ]:
loan_status_percent = loan['derived_loan_status'].value_counts()
loan_status_percent

In [ ]:
loan_status_percent = loan['derived_loan_status'].value_counts(normalize=True)
loan_status_percent

1. ~15 % credits have defaulted. 
2. Only considering the population of loans which are either fully paid / defaulted. 
3. Not considering the ongoing 'current' credits

#### Common methods definitions

In [ ]:
# method to display boxplot
def plot_segmented_boxplot(segment_col, metric_col, title, figsize=(6, 6), plot_order=None, xtick_rot=0, show_stats=True, remove_outliers=False, outlier_threshold=0.95):
  
    temp_loan = loan
    if remove_outliers:
        temp_loan = loan[loan[metric_col] < loan[metric_col].quantile(outlier_threshold)]

    plt.figure(figsize=figsize)
    groupby = temp_loan.groupby(segment_col)[metric_col]
    segmented_summary = groupby.describe()

    ax = sns.boxplot(data=temp_loan, x=segment_col, y=metric_col, order=plot_order)
    plt.title(title)
    plt.xticks(rotation=xtick_rot)
    plt.show()

    if show_stats:
        return segmented_summary

In [ ]:
# method to display countplot
def add_countplot_annots(ax):
    all_heights = [[p.get_height() for p in bars] for bars in ax.containers]
    for bars in ax.containers:
        for i, p in enumerate(bars):
            total = sum(xgroup[i] for xgroup in all_heights)
            percentage = f'{round(100 * p.get_height() / total, 2)}%'
            ax.annotate(percentage, (p.get_x() + p.get_width() / 2, p.get_height()), size=11, ha='center', va='bottom', rotation=90)

def segmented_countplot(data, x, hue, title, figsize=(7, 5), annot=True, scale=False):
    plt.figure(figsize=figsize)
    ax = sns.countplot(data=data, x=x, hue=hue, palette=sns.color_palette('pastel'), log=scale)
  
    if annot:
        add_countplot_annots(ax)
    plt.title(title)
    plt.legend(loc='upper right')
    plt.xticks(rotation=90)

In [ ]:
def per_category_percentplot(df, x, y, figsize=(7, 5)):
    """ input paramters :
             1. df : dataframe, 
             2. x: category column, 
             3. y: hue column
             4. figsize : figure size, defaults to (7,5)
    """
    (df
        .groupby(x, observed=True)[y]
        .value_counts(normalize=True)
        .mul(100)
        .rename('percent')
        .reset_index()
        .pipe((sns.catplot,'data'), x=x,y='percent',hue=y,kind='bar',height=3, aspect=2))
    plt.xticks(rotation=90)

In [ ]:
def categorizeContinuousFeature(df, col, ncats):
    l = pd.cut(df[col], bins=ncats,precision =0)
    #l.cat.categories.value_counts().to_frame().index
    labels=[]
    for cat in l.cat.categories:
        labels.append(str(round(cat.left,2)).strip()+'-'+str(round(cat.right,2)).strip())
    df[col+'_cats'] = pd.cut(df[col], bins=ncats,precision =0, labels=labels)
    return labels

## Continuous features

In [ ]:
def plotsForContinuousVariables(input_col, df=loan, hue_col = 'derived_loan_status', num_cuts=8):
    
    col = input_col
    if 'derived_' in input_col:
        col = input_col.split('derived_')[1]
        
    plot_segmented_boxplot(hue_col, input_col, f"{col} Vs Loan Status", (10, 5), None, 90)
    
    #divide the variable into categories
    col_cats = categorizeContinuousFeature(df, input_col, num_cuts)
    print(f"categories created for {col} {col_cats}")
    
    cats_col_name = f"{input_col}_cats"
    plt.xticks(rotation=90)
    sns.countplot(x=cats_col_name, data= df) #loan[loan['derived_loan_status'] == 'charged off'])
    
    # loan_status across the categories of loan amount
    segmented_countplot(df, cats_col_name, hue_col, f"Loan status for {col} categories", (12, 6), annot=True)

    per_category_percentplot(df, cats_col_name, 'derived_loan_status' )

In [ ]:
def percategoryplots(basecol, df = loan, hue_col = 'derived_loan_status') :
    cats_col = basecol+'_cats'
    for cat in loan[cats_col].value_counts().index :
        imputedcol = cats_col+'_'+cat
        print(imputedcol)
        df[imputedcol] = df[df[cats_col]==cat][cats_col]
        plotsForCategoricalVariables(imputedcol, hue_col = hue_col, df=df)

### 3.2 'Loan Amount' vs 'Loan Status'

In [ ]:
plotsForContinuousVariables('loan_amnt')

1. Analysis per subclass within loan amount clearly indicates that the number of defaults increase as the loan amount increase
2. The sheer number of loans given in the categories 466-13k are higher, and have less 'defaults %' than the loan amounts above 13k

In [ ]:
plotsForContinuousVariables('derived_int_rate_pct', hue_col='loan_amnt_cats', df=loan[loan['derived_loan_status']=='charged off'])

1. As loan amount increases, interest rates also increases
2. more number of loans given are from 5-17%
3. % of defaults increase as interest rates increase

In [ ]:
#loan[imputedcol] = loan[loan['loan_amnt_cats']=='4812.0-9125.0']['loan_amnt_cats']
#percategoryplots('loan_amnt', hue_col='derived_purpose', df=loan[loan['derived_loan_status']=='charged off'])

###  3.3 'Annual Income' vs 'Loan Status'

In [ ]:
plotsForContinuousVariables('annual_inc')

1. 25th, 50th, 75th percentiles of annual income of charged off credits are lower than fully paid credits  : low annual income individuals are more likely to charge off the credit
2. First 4 categories (ie people making annual income till 133k ) tend to borrow more loan than people making more money annually
3. Income range 90k+  has less chances of charged off.
4. Income range 0-32k has high chances of charged off.
5. Notice that with increase in annual income charged off proportion got decreased.

###  3.4 'Interest Rate' vs 'Loan Status'

In [ ]:
plotsForContinuousVariables('derived_int_rate_pct')

1. Higher interest rates see higher loan defaults [Refer first graph of percentiles]
2. More loans are distributed between 5-17% of interest rates
3. loans w/ higher interest rates are more likely to be charged off, strong trend
4. loan w/ int rates till 10 % have less chance of getting charged off (<= 8%).

In [ ]:
#loan[['derived_installment_to_monthly_salary_ratio','derived_int_rate_pct_cats','dti','annual_inc','loan_amnt','derived_loan_to_income_ratio','derived_loan_status_bin']].groupby('derived_int_rate_pct_cats').mean()

To drill down on interest rate behavior on increased defaults, the above group by provides more insights

As interest rate increase, we observe :
    1. increase in debt to income ratio, 
        there are 2 possibilities : 
        1. high amount loans tend to have higher interest rates, resulting in more debt
        2. risky customers : Lending club has already seen the risk and hence increased the int rest to compensate the risk 

    2. increase in annual income  :
        1. more the annual income, more loan people can get & afford, which has more int rate
    3. increase in loan_aount 
    4. increase in derived_loan_to_income_ratio :
    5. increase in rate of defaults

In [ ]:
loan[['derived_int_rate_pct_cats','dti','annual_inc','loan_amnt','derived_loan_to_income_ratio','derived_loan_status_bin','derived_grade','installment']].groupby(['derived_int_rate_pct_cats', 'derived_grade']).mean()

Observations :
1. at lower interest rates 5.0-8.0, borrowers are able to pay the 'D' &'E' grade loans as their dti was low
2. at higher interest rates, though avg annual income increases, the 'dti' has significantly increased in the range of 11-16, installments have increased, loan_to_annaul_income_ratio increases and rate of borrowers also increases to the range of [20-40]%

more Visualization below

###  3.5 'dti' vs 'Loan Status'

In [ ]:
plotsForContinuousVariables('dti')

1. borrowers with dti of 7-10 are getting loan more than rest
2. there is a slight increase in the % of loan getting 'charged off' from dti score of 7-26
3. borrowers w/ dti score of 26+ and 0 to 7 are less likely [10-13%] to charge off the loan

###  3.6 'desc_length' vs 'Loan Status'

In [ ]:
plotsForContinuousVariables('derived_desc_length')

1. Most of the borrower's enter lesser words (<= 500) in the description
2. Borrowers putting bigger descriptions (>1k words) are more like to 'charge off' the loan

###  3.7 'installment' vs 'Loan Status'

In [ ]:
plotsForContinuousVariables('installment')

1. Most of the loans have installments <= 500
2. As instllament amount increase there is slight increase in the 'loan default rate'
3. installments from 822-983 have highest loan default rate

###  3.8 'revol_util_pct' vs 'Loan Status'

In [ ]:
plotsForContinuousVariables('derived_revol_util_pct')

1. number of borrowers increase with the rate of utilization of available revolving credit
2. rate of defaulting sligtly increase as the rate of revol util increases, which seems obious as people tend to use more credit and eventually charge of some loans.

###  3.9 'revol_util' vs 'Loan Status'

In [ ]:
plotsForContinuousVariables('revol_bal')

1.lesser the revol credit balance, higher the 'charge off' rate
clearly proves the observations in  revol_util above, as revol_bal and revol_util are inverse to each other

## Categorical Features

In [ ]:
def plotsForCategoricalVariables(col, hue_col='derived_loan_status', df = loan):
    
    plt.xticks(rotation=90)
    sns.countplot(x=col, data= df)#loan[loan['derived_loan_status'] == 'charged off'])
    plt.show()
    
    # loan_status for derived_verification_status
    titleCol = col
    if 'derived_' in col:
        titleCol = col.split('derived_')[1]
    segmented_countplot(df, col, hue_col, 'Loan status per '+ col, (10, 6))
    
    per_category_percentplot(df, col, hue_col )
    plt.show()

### 3.10 'Grade' vs 'Loan Status'

In [ ]:
plotsForCategoricalVariables(col='derived_grade')

Observations:
1. loan grades of a-d are very frequent, e-g grades are comparatively rare
2. increase in loan grade significantly increases default risk

Imp References :

    1. wrt https://www.lendingclub.com/foliofn/rateDetail.action, interest rates increase from a-g in increasing order
    2. As per table 3, higher loan amount gives some benefit in the loan grade
    3. Higher term [ie 60 months], provides 8-4 points benefits in interest rate

### 3.11 'sub_grade' vs 'Loan Status'

In [ ]:
plotsForCategoricalVariables(col='derived_sub_grade', df=loan.sort_values(by='derived_sub_grade'))

1. a1-d5 subgrade loan are very frequent than loan in the cat e1-g5
2. risk of defaults increases significantly as we move from a1-g5, this is obvious as the interest rates also increase from a1=g5.

### 3.12 'emp_length' vs 'Loan Status'

In [ ]:
plotsForCategoricalVariables(col='derived_emp_length')

1. As the number of years of exp increases, freq of credit availed descrease. though freq of 10+ years exp is maximum.
2. No specific trend in the default behavior except there is 21% chance of default in case of 10 yrs of exp.
3. Unknown emp length has most likelihood of defaults [22%]

In [ ]:
loan[loan['derived_emp_length']=='unknwon'][['derived_purpose','derived_loan_status_bin','derived_loan_status']].groupby(by=['derived_purpose','derived_loan_status']).count() #loan['derived_emp_length'].value_counts()

### 3.13 'addr_state' vs 'Loan Status'

In [ ]:
plotsForCategoricalVariables(col='derived_addr_state')

1. CA has more number of borrowers, followed by NY and FL
2. Nebraska has more % of defaults [60%], followed by NV (Nevada), SD (South Dacota) and FL (Florida)

### 3.14 'purpose' vs 'Loan Status'

In [ ]:
plotsForCategoricalVariables(col='derived_purpose')

1. Most of the loans are for debt_consolidation, followed by credit card and other
2. Categorywise Risk of defaults lies 
    1. small business [27%]
    2. renewable energy [19%]
    3. educational [17%]
3. Frequency based Risk of default lies with :
    1. debt_consolidation [2k+]
    2. other [400+]
    3. credit card [400+]

### 3.15 'verification_status' vs 'Loan Status'

In [ ]:
plotsForCategoricalVariables(col='derived_verification_status')

Observations :
   1. verified loans have more % of defaults, followed by 'source verified' followed by 'not verified'
   2. Frquency wise, number of cases of default in verified and not verified are nearly equal

### 3.16 'issue_month' vs 'Loan Status'

In [ ]:
plotsForCategoricalVariables(col='derived_issue_d_month')

1. Number of loans given increase from Jan-Dec
2. number of loans defaulted increase from Jan -Dec, however % wise its almost the same
No specific trend for defaults observed

### 3.17 'issue_year' vs 'Loan Status'

In [ ]:
plotsForCategoricalVariables(col='derived_issue_d_year')

1. Number of loans issued increase from 2007-2011
2. number of loans defaulted increase from 2007-2011, however % wise its almost the same
No specific trend for defaults observed

### 3.18 'home_ownership' vs 'Loan Status'

In [ ]:
plotsForCategoricalVariables(col='derived_home_ownership')

1. borrowers with Rented house or mortgage, tend to be more frequent type of borrowers
2. Frequency wise, higher risk of default lies with rented followed by mortgage
3. category wise, 'other' typed borrowers have higher risk of default [19%], followed by
    rent [15 %]
    own [15 %]
    mortgage [13 %]

### 3.19 'delinq_2yrs' vs 'Loan Status'

In [ ]:
plotsForCategoricalVariables(col='delinq_2yrs',  df=loan[loan['delinq_2yrs']>0])

1. There are borrowers having delinq history, though the proportion is small.
2. Among the borrowers with delinq history, 1 & 2 occurences are more frequent than others
2. risk of default increases as delinq occurrences increase

### 3.20 'inq_last_6mths' vs 'Loan Status'

In [ ]:
plotsForCategoricalVariables(col='inq_last_6mths',  df=loan[loan['delinq_2yrs']>0])

1. Risk of default generally increases as number of inquiries for credit increase

### 3.21 'open_acc' vs 'Loan Status'

In [ ]:
plotsForCategoricalVariables(col='open_acc')

1. no specific trend, however some spikes towards higher number of open accounts, but the frequency is very less

### 3.22 'pub_rec_bankruptcies' vs 'Loan Status'

In [ ]:
plotsForCategoricalVariables(col='pub_rec_bankruptcies',  df=loan[loan['pub_rec_bankruptcies']>0])

1. strong indicator of default, more than 20% of chances of default in both the cases

### 3.23 'pub_rec' vs 'Loan Status'

In [ ]:
plotsForCategoricalVariables(col='pub_rec',  df=loan[loan['pub_rec']>0])

1. Strong indicator of defaulting borrower in case of 1 & 2 records, its above 20%
2. there are no occurences of 3 & 4

### 3.24 'term' vs 'Loan Status'

In [ ]:
plotsForCategoricalVariables(col='derived_term')

1. Strong indicator of defaulting borrower in case of 1 & 2 records, its above 20%
2. there are no occurences of 3 & 4

##  4. Bivariate Analysis - Categorical variables

In [ ]:
def generateHeatmap(x, y, data=loan, figsize=(10,5)):
    """
        Parameters:
            data : defaulted at the 'loan' variable, but can be changed externally if needed
            x, y : columns of data in the corresponding axis, both categorical
            figsize : a default have is given, but can be overridden
        Returns:
            None, does a heatmap plot
    """
    sns.set(font_scale=0.6)
    title = f"Heatmap of {x} vs {y}"
    fig, ax = plt.subplots(figsize=figsize)
    pt = pd.pivot_table(data=data, values='derived_loan_status_bin', index=y, columns=x)
    sns.heatmap(pt, cmap='cool', annot=True)
    if title is not None:
        plt.title(title)
    plt.show()

In [ ]:
generateHeatmap(x='derived_purpose', y='derived_home_ownership')

In [ ]:
generateHeatmap(x='derived_purpose', y='annual_inc_cats', figsize=(10,4))

Small business is seeing increased default rate at even medium-bigger annual income
same pattern with less intensity can be observed in det_consolidation and other

In [ ]:
generateHeatmap(x='dti_cats', y='annual_inc_cats', figsize=(10,4))

lower and middle income borrowers show high default rates across all DTI categories

In [ ]:
generateHeatmap(x='dti_cats', y='derived_int_rate_pct_cats', figsize=(10,4))

At highest int rates even the lowest DTI category is not able to cope up

In [ ]:
generateHeatmap(x='dti_cats', y='derived_purpose', figsize=(10,4))

1. small business tend to have highest rate of defaults across all dti cats
2. educational loans tend to have higher rate of default even at the lowest DTI category [0-4] and also
  in [19-26] DTI scores
3. moving, other, renewable enrgy, educational, debt consolidation show higher chances of default at higher DTI rates

1. even the lowest dti borrowers [0-4] find it difficult to pay the loan at highest rates[22-24]

In [ ]:
generateHeatmap(x='derived_int_rate_pct_cats', y='loan_amnt_cats', figsize=(10,4))

higher interest rates at any loan amount are causing defaults

In [ ]:
generateHeatmap(x='installment_cats', y='annual_inc_cats', figsize=(10,4))

Lower income borrowers have higher

In [ ]:
generateHeatmap(x='installment_cats', y='derived_purpose', figsize=(10,4))

In [ ]:
generateHeatmap(x='installment_cats', y='derived_emp_length', figsize=(10,4))

In [ ]:
generateHeatmap(x='derived_addr_state', y='derived_purpose', figsize=(22,8))

1. small business tend to default the loans across all states, followed by other and debt consolidations
2. greater than 50 % defaults are observed :
    small business loans in DE, NM, WV, WY
    vacation loans in AK, HI, OR
    renewal energy loan : UT
    wedding loans in MS, OR
    education loans in AR, KS, UT

## 5. Computed variables

### 5.1 (applied loan - Amount funded )
Significance : loan amount is not completely utilized
    1. not required, credit availed is fully paid
    2. defaulted

In [ ]:
loan['appliedMinusFunded'] = loan['loan_amnt'] - loan['funded_amnt']

In [ ]:
loan['appliedMinusFunded'].sum()

In [ ]:
loan[loan['appliedMinusFunded'] > 0].describe()

In [ ]:
loan[loan['appliedMinusFunded'] > 0].describe()

In [ ]:
loan[loan['appliedMinusFunded'] > 0]['derived_loan_status'].value_counts()

In [ ]:
loan[loan['appliedMinusFunded'] == 0]['derived_loan_status'].value_counts()

In [ ]:
plotsForContinuousVariables('appliedMinusFunded', num_cuts=20)

In [ ]:
plotsForContinuousVariables('loan_amnt', df =loan[(loan['appliedMinusFunded'] > 0) ])

In [ ]:
plotsForContinuousVariables('installment', df =loan[(loan['appliedMinusFunded'] > 0) ])

In [ ]:
plotsForCategoricalVariables(col='derived_purpose', df = loan[(loan['appliedMinusFunded'] > 0) ])

In [ ]:
plotsForCategoricalVariables(col='derived_term', df = loan[(loan['appliedMinusFunded'] > 0) ])

In [ ]:
plotsForCategoricalVariables(col='derived_int_rate_pct_cats', df = loan[(loan['appliedMinusFunded'] > 0) ])

In [ ]:
plotsForCategoricalVariables(col='derived_issue_d_month', df = loan[(loan['appliedMinusFunded'] > 0) ])

In [ ]:
plotsForCategoricalVariables(col='derived_home_ownership', df = loan[(loan['appliedMinusFunded'] > 0) ])

In [ ]:
plotsForCategoricalVariables(col='derived_emp_length', df = loan[(loan['appliedMinusFunded'] > 0) ])

In [ ]:
plotsForCategoricalVariables(col='derived_addr_state', df = loan[(loan['appliedMinusFunded'] > 0) ])

In [ ]:
plotsForCategoricalVariables(col='dti_cats', df = loan[(loan['appliedMinusFunded'] > 0) ])

In [ ]:
plotsForCategoricalVariables(col='derived_grade', df = loan[(loan['appliedMinusFunded'] > 0) ])

### 5.2 (loan_amnt / annual income)
Significance :
    1. borrower's capacity to pay the loan

In [ ]:
loan['derived_loan_to_income_ratio'] = loan['loan_amnt']/loan['annual_inc']

In [ ]:
loan['derived_loan_to_income_ratio'].describe()

In [ ]:
plotsForContinuousVariables('derived_loan_to_income_ratio')
categorizeContinuousFeature(loan, 'derived_loan_to_income_ratio', ncats=4)

In [ ]:
plotsForCategoricalVariables(col='derived_loan_to_income_ratio_cats')

In [ ]:
plotsForCategoricalVariables(col='derived_emp_length', hue_col='derived_loan_to_income_ratio_cats', df = loan[(loan['derived_loan_status'] == 'charged off') ])

In [ ]:
labels = categorizeContinuousFeature(loan, 'installment', ncats=8)

plotsForCategoricalVariables(col='installment_cats', hue_col='derived_loan_to_income_ratio_cats', df = loan[(loan['derived_loan_status'] == 'charged off') ])

In [ ]:

plotsForCategoricalVariables(col='derived_purpose', hue_col='derived_loan_to_income_ratio_cats', df = loan[(loan['derived_loan_status'] == 'charged off') ])

In [ ]:
plotsForCategoricalVariables(col='derived_home_ownership', hue_col='derived_loan_to_income_ratio_cats', df = loan[(loan['derived_loan_status'] == 'charged off') ])

In [ ]:
plotsForCategoricalVariables(col='derived_grade', hue_col='derived_loan_to_income_ratio_cats', df = loan[(loan['derived_loan_status'] == 'charged off') ])

In [ ]:
plotsForCategoricalVariables(col='derived_term', hue_col='derived_loan_to_income_ratio_cats', df = loan[(loan['derived_loan_status'] == 'charged off') ])

In [ ]:
plotsForCategoricalVariables(col='dti_cats', hue_col='derived_loan_to_income_ratio_cats', df = loan[(loan['derived_loan_status'] == 'charged off') ])

In [ ]:
# deep dive into dti against loan status
plotsForCategoricalVariables(col='dti_cats', hue_col='derived_loan_to_income_ratio_cats', df = loan[(loan['derived_loan_status'] == 'charged off') ])

In [ ]:
# deep dive into derived_loan_to_income_ratio_cats against loan status
g1 = loan[loan['derived_loan_to_income_ratio_cats'].isin(['0.0-0.2']) ] 
g2 = loan[loan['derived_loan_to_income_ratio_cats'].isin(['0.2-0.4']) ] 
g1_2 = pd.concat([g1,g2])

g3 = loan[loan['derived_loan_to_income_ratio_cats'].isin(['0.4-0.6']) ] 
g4 = loan[loan['derived_loan_to_income_ratio_cats'].isin(['0.6-0.8']) ] 
g3_4 = pd.concat([g3,g4])
#plotsForCategoricalVariables(col='dti_cats', df = l )
g2['derived_loan_status'].value_counts()

In [ ]:
g1['annual_inc'].mean(), g1['annual_inc'].median()

In [ ]:
g1_good = g1[g1['derived_loan_status']=='fully paid']
g1_bad = g1[g1['derived_loan_status']!='fully paid']

g3_good = g3[g3['derived_loan_status']=='fully paid']
g3_bad = g3[g3['derived_loan_status']!='fully paid']

print(
g1_good['annual_inc'].mean(), g1_good['annual_inc'].median(),
g1_bad['annual_inc'].mean(), g1_bad['annual_inc'].median(),
g3_good['annual_inc'].mean(), g3_good['annual_inc'].median(),
g3_bad['annual_inc'].mean(), g3_bad['annual_inc'].median())

In [ ]:
g2_good = g2[g2['derived_loan_status']=='fully paid']
g2_bad = g2[g2['derived_loan_status']!='fully paid']

g4_good = g4[g4['derived_loan_status']=='fully paid']
g4_bad = g4[g4['derived_loan_status']!='fully paid']

print(
g2_good['annual_inc'].mean(), g2_good['annual_inc'].median(),
g2_bad['annual_inc'].mean(), g2_bad['annual_inc'].median(),
g4_good['annual_inc'].mean(), g4_good['annual_inc'].median(),
g4_bad['annual_inc'].mean(), g4_bad['annual_inc'].median())

In [ ]:
loan['annual_inc'].mean(),loan['annual_inc'].median()

In [ ]:
# deep dive into dti against loan status
plotsForCategoricalVariables(col='derived_int_rate_pct_cats',  df = g1 )

In [ ]:
# deep dive into dti against loan status
plotsForCategoricalVariables(col='annual_inc_cats',  df = g1 )

In [ ]:
# deep dive into dti against loan status
plotsForCategoricalVariables(col='loan_amnt_cats',  df = g1 )

In [ ]:
#sns.catplot(loan,y='loan_amnt_cats',x='annual_inc_cats',hue='derived_loan_to_income_ratio_cats',col='derived_loan_status')

In [ ]:
# deep dive into dti against loan status
plotsForCategoricalVariables(col='derived_purpose',  df = g1 )

In [ ]:
# deep dive into dti against loan status
plotsForCategoricalVariables(col='derived_revol_util_pct_cats',  df = g1 )

In [ ]:
plotsForCategoricalVariables(col='derived_loan_to_income_ratio_cats',  df = loan)

In [ ]:
plotsForCategoricalVariables(col='derived_loan_to_income_ratio_cats', hue_col='appliedMinusFunded_cats', df = loan)

In [ ]:
plotsForCategoricalVariables(col='derived_loan_to_income_ratio_cats', hue_col='appliedMinusFunded_cats', df = loan[loan['derived_loan_status']=='charged off'])

In [ ]:

plotsForCategoricalVariables(col='derived_loan_to_income_ratio_cats', hue_col='appliedMinusFunded_cats', df = loan[loan['derived_loan_status']=='charged off'])

### 5.3 (loan_amnt / annual income)
Significance :
    1. borrower's capacity to pay the loan

In [ ]:
#loan['derived_installment_to_monthly_salary_ratio'] = loan['installment']/(loan['annual_inc']/12)

In [ ]:
plotsForContinuousVariables('derived_installment_to_monthly_salary_ratio')

In [ ]:
loan['monthly_inc'] = loan['annual_inc']/12
categorizeContinuousFeature(loan, 'monthly_inc', 8)
plotsForContinuousVariables('derived_installment_to_monthly_salary_ratio',df=loan[loan['derived_loan_status'] == 'fully paid'], hue_col='monthly_inc_cats')

1. as salary increases, installment_to_monthly_salary_ratio tend to decrease a lot, strong pattern, 
   which clearly indicates that borrowers with lesser income have bigger part of their monthly income going in to pay the installments
2. above installment_to_monthly_salary_ratio of 0.08, all the borrowers are mostly from lower income groups,
   which clearly indicates that why they are not keeping up with the loan and eventually default

In [ ]:
plotsForCategoricalVariables('dti_cats',df=loan, hue_col='derived_installment_to_monthly_salary_ratio_cats')

## Categorical columns classification
A. customer attributes : 
                    1.  derived_addr_state,
                    2.  derived_zip_code, 
                    3.  derived_emp_length, 
                    4.  derived_emp_title, 
                    5.  derived_emp_length,
                    6.  derived_home_ownership,

B. customer credit history related attributes : 
                    7.  derived_earliest_cr_line_year,
                    8.  derived_earliest_cr_line_month ,
                    9.  delinq_2yrs, 
                    10. inq_last_6mths

C. loan attributes : 
                    11. derived_grade, 
                    12. derived_sub_grade , 
                    13. derived_issue_d, 
                    14. derived_issue_month  , 
                    15. derived_issue_year ,
                    16. derived_term ,
                    17. derived_last_pymnt_d, 
                    18. derived_last_pymnt_d_year ,
                    19. derived_verification_status, 
                    20. derived_purpose , 
                    21. derived_title, 
                    22. derived_loan_status ,

## continuous columns classification

A. customer attributes : 
            1. annual_inc,  YES
            2. dti,         YES

B. customer credit history related attributes :
            3. delinq_2yrs,   Cat YES
            4. derived_earliest_cr_line_date, NO
            5. inq_last_6mths,   cat YES
            6. open_acc,         cat YES
            7. pub_rec,          cat YES
            8. pub_rec_bankruptcies,  
            9. recoveries,
            
C. loan attributes :
            10. collection_recovery_fee,  No
            11. derived_desc_length,      YES  
            12. derived_int_rate_pct,     YES
            13. derived_issue_date        NO
            14. derived_last_pymnt_d_date, NO 
            15. funded_amnt,          NO
            16. funded_amnt_inv,
            17. installment,         YES
            18. last_pymnt_amnt,      NO
            19. loan_amnt,        YES
            20. total_pymnt,        NO
            21. total_pymnt_inv,    NO
            22. total_rec_int,      NO
            23. total_rec_late_fee,  NO
            24. total_rec_prncp,      NO
            25. revol_bal            either of these 2
            26. derived_revol_util_pct

## 6. important features cumulated

In [ ]:
loan['total_recovery_cost'] = loan['collection_recovery_fee'] + loan['recoveries']
loan['derived_loan_status_bin'] = loan['derived_loan_status'].apply(lambda x: 1 if x == 'charged off' else 0)
loan['loan_to_income_all'] = 100*loan['loan_amnt']/loan['annual_inc']

all_agg_grouped_on_purpose = loan[['loan_to_income_all','total_recovery_cost','derived_loan_status_bin','annual_inc','loan_amnt','funded_amnt','funded_amnt','derived_int_rate_pct','dti','derived_revol_util_pct','derived_loan_status','derived_purpose']].groupby(by=['derived_purpose'])
all_agg = all_agg_grouped_on_purpose.sum()
all_agg['count'] = all_agg_grouped_on_purpose['annual_inc'].count()

all_agg['loan_to_income'] = 100*all_agg['loan_amnt']/all_agg['annual_inc']
all_agg['loan_to_income_all_com'] = all_agg['loan_to_income_all']/all_agg['count']
all_agg['charge_off_ratio'] = 100*all_agg['derived_loan_status_bin']/all_agg['count']
all_agg['average_int_rate'] = all_agg['derived_int_rate_pct'] / all_agg['count']
all_agg['avg_recovery_cost'] = all_agg['total_recovery_cost'] / all_agg['count']
all_agg['loan_cases_avg'] = 100*all_agg['count'] / loan.shape[0]
all_agg['derived_revol_util_pct'] = all_agg['derived_revol_util_pct'] / all_agg['count']
all_agg['dti'] = all_agg['dti'] / all_agg['count']
#all_agg['applied_loan_minus_funded'] = all_agg['loan_amnt'] - all_agg['funded_amnt']
#all_agg['funded_minus_inverstors'] = all_agg['funded_amnt'] - all_agg['funded_amnt_inv']
#all_agg['average_int_rate'] = all_agg['funded_amnt'] - all_agg['funded_amnt_inv']

all_agg

In [ ]:
defaulters['total_recovery_cost'] = defaulters['collection_recovery_fee'] + defaulters['recoveries']
defaulters['derived_loan_status_bin'] = defaulters['derived_loan_status'].apply(lambda x: 1 if x == 'charged off' else 0)
defaulters['loan_to_income_all'] = 100*defaulters['loan_amnt']/loan['annual_inc']

all_agg_grouped_on_purpose = defaulters[['loan_to_income_all','total_recovery_cost','derived_loan_status_bin','annual_inc','loan_amnt','funded_amnt','funded_amnt','derived_int_rate_pct','dti','derived_revol_util_pct','derived_loan_status','derived_purpose']].groupby(by=['derived_purpose'])
all_agg = all_agg_grouped_on_purpose.sum()
all_agg['count'] = all_agg_grouped_on_purpose['annual_inc'].count()

all_agg['loan_to_income'] = 100*all_agg['loan_amnt']/all_agg['annual_inc']
all_agg['loan_to_income_all_com'] = all_agg['loan_to_income_all']/all_agg['count']
all_agg['charge_off_ratio'] = 100*all_agg['derived_loan_status_bin']/all_agg['count']
all_agg['average_int_rate'] = all_agg['derived_int_rate_pct'] / all_agg['count']
all_agg['avg_recovery_cost'] = all_agg['total_recovery_cost'] / all_agg['count']
all_agg['loan_cases_avg'] = 100*all_agg['count'] / defaulters.shape[0]
all_agg['derived_revol_util_pct'] = all_agg['derived_revol_util_pct'] / all_agg['count']
all_agg['dti'] = all_agg['dti'] / all_agg['count']
#all_agg['applied_loan_minus_funded'] = all_agg['loan_amnt'] - all_agg['funded_amnt']
#all_agg['funded_minus_inverstors'] = all_agg['funded_amnt'] - all_agg['funded_amnt_inv']
#all_agg['average_int_rate'] = all_agg['funded_amnt'] - all_agg['funded_amnt_inv']

all_agg

In [ ]:
non_defaulters['total_recovery_cost'] = non_defaulters['collection_recovery_fee'] + non_defaulters['recoveries']
non_defaulters['derived_loan_status_bin'] = non_defaulters['derived_loan_status'].apply(lambda x: 1 if x == 'charged off' else 0)
non_defaulters['loan_to_income_all'] = 100*non_defaulters['loan_amnt']/loan['annual_inc']

all_agg_grouped_on_purpose = non_defaulters[['loan_to_income_all','total_recovery_cost','derived_loan_status_bin','annual_inc','loan_amnt','funded_amnt','funded_amnt','derived_int_rate_pct','dti','derived_revol_util_pct','derived_loan_status','derived_purpose']].groupby(by=['derived_purpose'])
all_agg = all_agg_grouped_on_purpose.sum()
all_agg['count'] = all_agg_grouped_on_purpose['annual_inc'].count()

all_agg['loan_to_income'] = 100*all_agg['loan_amnt']/all_agg['annual_inc']
all_agg['loan_to_income_all_com'] = all_agg['loan_to_income_all']/all_agg['count']
all_agg['charge_off_ratio'] = 100*all_agg['derived_loan_status_bin']/all_agg['count']
all_agg['average_int_rate'] = all_agg['derived_int_rate_pct'] / all_agg['count']
all_agg['avg_recovery_cost'] = all_agg['total_recovery_cost'] / all_agg['count']
all_agg['loan_cases_avg'] = 100*all_agg['count'] / non_defaulters.shape[0]
all_agg['derived_revol_util_pct'] = all_agg['derived_revol_util_pct'] / all_agg['count']
all_agg['dti'] = all_agg['dti'] / all_agg['count']
#all_agg['applied_loan_minus_funded'] = all_agg['loan_amnt'] - all_agg['funded_amnt']
#all_agg['funded_minus_inverstors'] = all_agg['funded_amnt'] - all_agg['funded_amnt_inv']
#all_agg['average_int_rate'] = all_agg['funded_amnt'] - all_agg['funded_amnt_inv']

all_agg

# Recommendations and Conclusions

## Observations

### Features Related to Borrower’s Credit History & Profile

1. lower Annual Income [ below 90K]
2. higher Employment length : Unknown / Missing employment history [22 %]
3. Home ownership isin (other, Rent, owned)
4. Address State isin (NE Nebraska, NV Nevada, SD South Dacota AK Alaska and FL Florida)
5. higher DTI [above 11 %]
6. higher Revolving credit util [above 37%]
7. higher Credit inquiries in last 6 months [above and equal to 1]
8. higher Delinq occurrences in last 2 years [greater than equal to 1]
9. higher Number of Public record of bankrupcies [greater than equal to 1]
10. higher Number of derogatory public records [1 or 2]

### Features Related to current Loan application :

1. higher Loan amount [ > 13k]
2. higher Interest Rate [above 13%]
3. higher Installment [above 338]
4. higher Loan Grade [on and above grade C], same observations through Loan Sub Grades
5. Loan purpose isin [Small Business(27%), Renewable Energy(19%), Educational loan(17%)]
6. Verification Status isin [Verified (17%), source verified (15%), not verified (13%)]
7. Loan Issue Month isin [Dec, May, Sep, Oct)
8. Loan repayment Term is [60 months term 25%]

### Impact analysing Multiple Features

1. High Loan amount and High Interest rates for Low Annual income borrowers
2. High Installments with Lower Annual Income and Longer Term
3. High Installments with higher Interest Rates for longer Term
4. High DTI individual with Lower income

## Recommendations

1. Borrowers with Lower Income should be provided loans considering
    
    A. Loan amount should be based on interest rates, term, installments, dti and delinq history so that 
        a. loan amount should not be too high  [possible loss of business but Risky]
        b. OR the installments are payable by the borrower

    B. should be reviewd for DTI, delinq history, revolving util and inquiries for credit on a regular basis

2. Different Loan purposes have different behavior and they should be evaluated based on
  
    A. Annual Income, Credit history (DTI, revol_util, delinq, credit_inquiries and public records), Borrower specific information (Borrowers State, employment length), Loan Grade

3. Different Loan purposes have different behavior and they should be evaluated based on
  
    A. Annual Income, Credit history (DTI, revol_util, delinq, credit_inquiries and public records), Borrower specific information (Borrowers State, employment length), Loan Grade

Verifications ie both ‘Verification’ & ‘Source Verification’need some more improvements as the default rate is still high.

    A. Considering that verifications may have done in the cases of risky loans and those cases may have been addressed for the involved Risk, either by increasing the interest rates / reduing loan amount / adjusting the term, these adjustments needs a review whether the risk is getting mitigated. As we still see the defaults in these scenarios.

High Risk loan can be reduced on by

    A. Reducing loan amount / adjusting the installment, interest rate and term to compensate the risk
    B. asking for co-borrowers / collateral
    C. getting Investors / Credit Default Swaps